html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    block metaElements 
    <link rel="apple-touch-icon" sizes="180x180" href="/static/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/img/favicon/site.webmanifest">
    style 
        block style
        include ../static/css/base.css 
    block title
  body
    nav
      a(href='/').logo
        .logo-conatiner
          .logo-head AJ 
          .logo-side 
            .logo-side-up Water 
            .logo-side-down Solutions
        .logo-conatiner-dummy
          .logo-head AJ 
          .logo-side 
            .logo-side-up Water 
            .logo-side-down Solutions
      a.icon-plus-text(href='/repair')
        ion-icon.repair-icon(name='build')
        p Maintenance
      .search-box
        input#search(type='text', name='search', placeholder='Search for Product, Brands, Accessories and More. ',  autocomplete="off")
      a.icon-plus-text(href='/user/cart')
        ion-icon.cart-icon(name='cart')
        p Cart
      div
        if LoggedIn
          ion-icon.profile-icon(name='person',onclick="window.location.href = '/user/profile'")
        else 
          .login(onclick="window.location.href = '/auth/login'")
            p Login / SignIn
    navbar
        if Seller
            a.nav-box(href='/') All
            a.nav-box(href='/plant-booking') Plant Bookings
            a.nav-box(href='/brands') Top Brand
            a.nav-box(href='#') Service Requests
            a.nav-box(href='/order/seller') New Orders
            a.nav-box(href='/user/add-product') Add Product
            a.nav-box(href='/#about-us') About Us
            a.nav-box(href='/help') Help Asked
        else
            a.nav-box(href='/') All
            a.nav-box(href='#',onclick="alert('This Page Under Contruction!')") Recommendation 
            //- This recommendation tab is for details of parts products.
            a.nav-box(href='/plant-booking') Book Plant
            a.nav-box(href='/brands') Top Brand
            a.nav-box(href='/user/address') Add Address 
            a.nav-box(href='/buy-again') Buy Again
            a.nav-box(href='/#about-us') About Us
            a.nav-box(href='/help') Help
    main
        block content

    .footer 
            .footer-top
                .about-container 
                    .footer-section-heading 
                        h3 About Us
                    .link
                        a(href="/Contact") Contact Us
                    .link 
                        a(href="/#about-us") About Us 
                .links-container 
                    .footer-section-heading 
                        h3 Links
                    .link
                        a(href="/user/search?value=Water Filter") Products
                    .link
                        a(href="/repair") Service
                    .link
                        a(href="/user/search?value=Domestic") Domestic Filter
                    .link
                        a(href="/user/search?value=Commercial") Commercial Filter
                    .link
                        a(href="/user/search?value=Industrial") Industrial Filter
                    .link
                        a(href="/user/search?value=Water Filter") Filter Cabinet
                .search-container 
                    .footer-section-heading 
                        h3 Top Search
                    .link 
                        a(href="/user/search?value=Crystal Clear") Crystal Clear 
                    .link 
                        a(href="/user/search?value=Purosis") Purosis 
                    .link 
                        a(href="/user/search?value=Nile") Nile 
                    .link 
                        a(href="/user/search?value=Aqua Grand") Aqua Grand 
                    .link 
                        a(href="/user/search?value=Aqua Roma") Aqua Roma 
                    .link 
                        a(href="/user/search?value=Aqua Mars") Aqua Mars
                    .link 
                        a(href="/user/search?value=Aqua Digi") Aqua Digi
                .social-container
                    .footer-section-heading 
                        h3 Social Media 
                    .link
                        a(href="") 
                            <ion-icon name="logo-facebook"></ion-icon> 
                            | Facebook
                    .link
                        a(href="https://wa.me/917387227775",target="blank") 
                            <ion-icon name="logo-whatsapp"></ion-icon> 
                            | Whatsapp
                    .link
                        a(href="https://www.instagram.com/aniljadhav2991?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==",target="blank") 
                            <ion-icon name="logo-instagram"></ion-icon> 
                            | Instagram
                .address-container 
                    .footer-section-heading 
                        h3 Office Address
                    .link 
                        p AJ Water Solutions , 
                            br 
                            | Hiware Kumbhar , Shikrapur ,
                            br
                            | Tal. Shirur , Dist. Pune ,
                            br
                            | Maharastra , India 
                            br
                            | Pincode : 412208
                            br
                            | Phone : +91-7387227775
            h3.creator-watermark Creator : Om's Developers 

    script(src="/static/js/base.js")
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    block scripts
