extends base.pug
block metaElements
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="robots" content="INDEX, FOLLOW")
    meta(name="keywords" content="AJKart login, Login to AJKart, Account login AJKart, Sign in AJKart, User login AJKart, Customer login AJKart, Secure login AJKart, Access my account AJKart, Member login AJKart, Login credentials AJKart, Login portal AJKart, Login page AJKart, Login process AJKart, AJKart account access, Account authentication AJKart, Login form AJKart, Login verification AJKart, Login security AJKart, Login details AJKart, Login procedure AJKart")
    meta(name="description" content=`Unlock exclusive benefits and seamless shopping by logging in to AJKart. Your security is our priority, providing a secure and user-friendly login process. Enjoy personalized offers and easy access to a wide range of products. Join AJKart today for a rewarding shopping experience.`)
block style
    include ../static/css/login.css
    include ../static/css/otp.css
    include ../static/css/input.css
block title 
    title AJWS | Login 
block content
    section.login-container
        .left 
            .left-head
                p.login-head Login 
                p.welcome-text Your key to personalized shopping awaits. Access your wishlist and more, with a login.
            img(src='../static/img/water-flash-1.png').design-img 
        .right#form-section
            //- if (message && message.path == "general")
            form#auth-form.auth-from(action="/login", method="post")
                if (message && message.path == "general")
                    .warning 
                        p #{message.msg} 
                .input
                    input.input-element(type="email", name="email",id="email",required="required",value=`${otherDetails?otherDetails.email:''}`)
                    label.input-label(for="email") Enter Your Email
                if (message && message.path == "email")
                    .warn #{message.msg}
                .input
                    input.input-element(type="password", name="password",id="password",required="required")
                    label.input-label(for="password") Password
                    label.view-password(for="password", onclick="changeView(this)")
                        <ion-icon name="eye-outline"></ion-icon>
                if (message && message.path == "password")
                    .warn #{message.msg}
                a.forgot(href="/forgot") Forgot Password ?
                button.btn(type="submit") Log In
                p.or-line Or
                button.btn.otp-btn(type="button", onclick="otpGeneration('login')") Login With OTP
            a.anLink(href="/register") New to AJWS? Create an account 
block scripts 
    script(src="/static/js/input.js") 
    script(src="/static/js/register.js") 