extends base.pug
block metaElements
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="robots" content="INDEX, FOLLOW")
    meta(name="keywords" content="AJKart login, Login to AJKart, Account login AJKart, Sign in AJKart, User login AJKart, Customer login AJKart, Secure login AJKart, Access my account AJKart, Member login AJKart, Login credentials AJKart, Login portal AJKart, Login page AJKart, Login process AJKart, AJKart account access, Account authentication AJKart, Login form AJKart, Login verification AJKart, Login security AJKart, Login details AJKart, Login procedure AJKart")
    meta(name="description" content=`Unlock exclusive benefits and seamless shopping by logging in to AJKart. Your security is our priority, providing a secure and user-friendly login process. Enjoy personalized offers and easy access to a wide range of products. Join AJKart today for a rewarding shopping experience.`)
block style
    include ../static/css/register.css
    include ../static/css/otp.css
    include ../static/css/selectElement.css
    include ../static/css/input.css
block title 
    title AJWS | Register 
block content
    section.register-container
        .left#form-section 
            form(action="", method="post").auth-form#auth-form
                .input-split 
                    .input
                        input.input-element(type="text", name="first-name",id="first-name",required="required")
                        label.input-label(for="first-name") First Name
                    .input
                        input.input-element(type="text", name="last-name",id="last-name",required="required")
                        label.input-label(for="last-name") Last Name
                .input
                    input.input-element(type="email", name="email",id="email",required="required")
                    label.input-label(for="email") Enter Your Email
                .input
                    input.input-element(type="tel", name="phone",id="phone",pattern="[0-9]{10}",required="required")
                    label.input-label(for="phone") Enter 10-digit number
                .input
                    input.input-element(type="password", name="password",id="password",required="required")
                    label.input-label(for="password") Password
                    label.view-password(for="password", onclick="changeView(this)")
                        <ion-icon name="eye-outline"></ion-icon>
                .input
                    input.input-element(type="password", name="confirm",id="confirm",required="required")
                    label.input-label(for="confirm") Confirm Password
                    label.view-password(for="password", onclick="changeView(this)")
                        <ion-icon name="eye-outline"></ion-icon>
                button.btn(type="button", onclick="otpGeneration('register')") Create an account
            a.anLink(href="/login") Already have an account? Log In
        .right 
            .right-head
                p.register-head Register 
                p.welcome-text Welcome! Let's get you started on your shopping journey.
            img(src='../static/img/water-flash-2.png').design-img 
block scripts 
    script(src="/static/js/input.js") 
    script(src="/static/js/selectElement.js") 
    script(src="/static/js/register.js") 