@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Anton&family=Playpen+Sans:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

main {
    flex: 1;
    position: relative;
    /* This makes sure the main content takes up the remaining space */
}

#loading {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 90vh;
    background: url('/static/img/loader.gif') no-repeat center 40%;
    background-size: 40%;
    background-color: white;
}

.hide-element {
    display: none;
}

/* Navbar */
nav {
    background-color: black;
    padding: 5px 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 50;
}

nav a {
    text-decoration: none;
}

.icon-plus-text {
    display: flex;
    color: rgb(212, 230, 225);
    font-weight: 600;
    font-size: 20px;
    column-gap: 3px;
    align-items: center;
    font-family: "Agbalumo";
}

.repair-icon,
.cart-icon {
    width: 22px;
    height: 22px;
    fill: rgb(212, 230, 225);
}

.search-box {
    overflow: hidden;
    border-radius: 10px;
    position: relative;
    display: flex;
    width: 50%;
    height: 70%;
}

#search {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    font-size: 15px;
    background-image: url(/static/img/search-icon.png);
    background-size: auto 50%;
    background-position: 15px center;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 45px;
}

#search::placeholder {
    color: rgb(132, 119, 119);
}

.profile-icon {
    border: 2px solid white;
    padding: 2px;
    width: 28px;
    height: 28px;
    fill: rgb(212, 230, 225);
    border-radius: 50%;
    background: none;
    cursor: pointer;
}

/* Second Navbar */
navbar {
    display: flex;
    padding: 0px 20px;
    position: sticky;
    top: 0;
    background-color: rgb(99, 90, 90);
    z-index: 100;
    transition: height .5s;
}

.left-nav {
    display: flex;
    flex-direction: row;
    column-gap: 5px;
}

.left-nav.short {
    display: flex;
    flex-direction: column;
}

.right-nav {
    display: flex;
    flex-direction: row-reverse;
    column-gap: 10px;
    margin-right: 10px;
    position: absolute;
    right: 0;
    top: 1px;
    width: 70%;
    padding-top: 2px;
}

.right-nav>.nav-box {
    padding: 2px;
}

.right-nav>.nav-box:hover {
    background-color: white;
}

.menu-box {
    border: 1px solid white;
    border-radius: 10px;
}

#menu-btn {
    border: none;
    outline: none;
    background: none;
    padding: 0px 7px;

    &>svg{
        width: 30px;
        height: 30px;
        stroke: black;
        stroke-width: 1px;
    }
}

#menu-btn:hover {
    cursor: pointer;
}

#menu-btn:active {
    background-color: aqua;
}

.nav-box {
    color: #c9cac9;
    padding: 10px;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
}

.nav-box:hover {
    background-color: #392136;
}

.nav-box:active {
    background-color: #6b2590;
}

.logo {
    position: relative;
    border-radius: 20px;
    padding: 2px;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.logo::before {
    position: absolute;
    width: 190%;
    height: 190%;
    content: '';
    background-image: conic-gradient(transparent, transparent, transparent, #ffd900);
    animation: rotate_border 6s linear infinite;

}

.logo::after {
    position: absolute;
    width: 190%;
    height: 190%;
    content: '';
    background-image: conic-gradient(transparent, transparent, transparent, #fced9a);
    animation: rotate_border 6s linear infinite;
    animation-delay: -3s;
}

.logo-conatiner {
    display: flex;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: row;
    column-gap: 5px;
    border-radius: 20px;
    padding: 1px 8px;
    background-color: black;
    position: absolute;
    content: '';
    z-index: 10;

}

.logo-head {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-family: gelica, sans-serif;
    font-style: normal;
    font-weight: 600;
    color: #a7b5b3;
}

.logo-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo-side-up {
    font-size: 13px;
    color: #2488ac;
    font-family: voltage, sans-serif;
    font-weight: 600;
    font-style: normal;
}

.logo-side-down {
    font-size: 13px;
    color: #d1cb20;
    font-family: voltage, sans-serif;
    font-weight: 600;
    font-style: normal;
}

.logo-conatiner-dummy {
    display: flex;
    ;
    flex-direction: row;
    column-gap: 5px;
    border-radius: 20px;
    padding: 1px 8px;
    visibility: hidden;
}

.login {
    border: none;
    border-radius: 10px;
    padding: 8px 15px;
    font-size: 17px;
    color: #e0dcdf;
    font-weight: 600;
    border: 2px solid white;
}

.login:hover {
    cursor: pointer;
    background-color: rgb(58, 59, 59);
    color: #e6d9e4;
}

.login:active {
    cursor: pointer;
    background-color: rgb(32, 33, 33);
    color: #f2e6f0;
}

/* Repair Btn */
.repair-btn {
    width: fit-content;
    padding: 8px 10px;
    border: 1px solid rgb(151, 137, 137);
    border-radius: 50%;
    box-shadow: 1px 2px 5px rgba(72, 67, 67, 0.737);
    background-color: orange;
    position: fixed;
    bottom: 4vh;
    right: 4vh;
    z-index: 10;

    &>svg{
        width: 30px;
        height: 30px;
        fill: black;
    }
}

.repair-btn.animate {
    animation: highlight .2s 1s 5;
}

.repair-btn:hover {
    cursor: pointer;
}

.repair-btn:active {
    background-color: rgb(248, 216, 155);
}


/* Footer */
.footer {
    background-color: black;
    margin-top: 50px;
}

.footer-top {
    display: flex;
    flex-direction: row;
    padding: 50px 30px;
    row-gap: 50px;
    column-gap: 10px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border-bottom: 1px solid white;
}

.footer-top>div {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.footer-section-heading h3 {
    color: #878787;
    margin-bottom: 10px;
}

.footer-section-heading,
.link {
    width: max-content;
}

.link a {
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 5px;

    &>svg{
        width: 20px;
        height: 20px;
    }
}

.link p {
    color: white;
    line-height: 1.5;
}

.creator-watermark {
    padding: 10px 0px;
    width: 100%;
    text-align: center;
    color: white;
}



@keyframes rotate_border {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.image-skeleton {
    animation: image_skeleton 1s linear infinite alternate;
}

@keyframes image_skeleton {
    0% {
        background-color: #9dbbb7;
    }

    100% {
        background-color: #deefed;
    }
}

@keyframes highlight {
    0%{
        transform: translateY(0%);
    }
    50%{
        transform: translateY(-50%);
    }
    100%{
        transform: translateY(0%);
    }
}


@media screen and (max-width: 1500px) {
    nav {
        padding: 5px 50px;
    }
}

@media screen and (max-width: 1250px) {
    nav {
        padding: 5px 20px;
    }
}

@media screen and (max-width: 1150px) {
    .icon-plus-text>p {
        display: none;
    }

    .repair-icon,
    .cart-icon {
        width: 25px;
        height: 25px;
    }

    .login {
        font-size: 14px;
        padding: 8px 12px;
    }

    .logo-head {
        font-size: 27px;
    }

    .logo-side-up,
    .logo-side-down {
        font-size: 11px;
    }
}


@media screen and (max-width: 860px) {
    nav {
        justify-content: space-between;
        padding: 4px 20px;
    }

    navbar {
        background-color: white;
        border-bottom: 1px solid rgb(4, 4, 50);
        height: 38px;
    }

    navbar.active {
        height: 315px;
    }

    .left-nav.short {
        height: 100%;
        overflow: hidden;
    }

    .nav-box {
        display: flex;
        padding: 0px;
        border: 1px solid white;
        border-radius: 10px;
        color: #6b2590;
        width: 100%;
        padding: 7px 10px;
        font-size: 16px;
    }

    .nav-box:hover {
        background-color: rgb(198, 149, 244);
        cursor: pointer;
    }

    .search-box {
        border-radius: 0;
        flex: 1;
    }

    #search {
        background-color: #f8e8e8;
        border: 0.3px solid #cebbbb;
        border-radius: 7px;
        background-size: auto 46%;
        background-position: 12px center;
        background-repeat: no-repeat;
        padding: 7px 10px 7px 40px;
        font-size: 13px;
    }

    .cart-icon {
        fill: rgb(114, 105, 105);
    }

    .repair-btn{
        bottom: 3vh;
        right: 3vh;
    }
}

@media screen and (max-width: 800px) {
    .repair-btn{
        &>svg{
            width: 25px;
            height: 25px;
        }
    }
}

@media screen and (max-width: 500px) {
    .repair-btn{
        bottom: 4vh;
        right: 3vh;
    }

    nav {
        justify-content: space-between;
        padding: 4px 10px;
    }

    #loading {
        background-size: 80%;
    }

    .link a, .link p {
        font-size: 14px;
        &>svg{
            width: 17px;
            height: 17px;
        }
    }

    .footer-section-heading h3 {
        margin-bottom: 3px;
        font-size: 1.02em;
    }

    .creator-watermark {
        font-size: 1.07em;
    }
}

@media screen and (max-width: 440px) {
    .repair-btn{
        &>svg{
            width: 20px;
            height: 20px;
        }
    }

    .link a, .link p {
        font-size: 12px;
        &>svg{
            width: 15px;
            height: 15px;
        }
    }

    .footer-section-heading h3 {
        margin-bottom: 0px;
        font-size: 0.95em;
    }

    .footer-top {
        row-gap: 25px;
    }
}