body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.brand-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 20px;
    font-size: 24px;
    font-weight: 600;
    font-family: sans-serif;
}

.brand-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.brand-item {
    border: 1px solid #ddd;
    padding: 20px 10px;
    border-radius: 10px;
    width: calc(32% - 80px);
    min-height: 200px;
    /* Adjust width as needed */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.brand-logo {
    max-width: 100px;
    margin-bottom: 10px;
    border-radius: 50%;
}

.brand-name {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.brand-description,
.brand-origin,
.brand-categories {
    margin: 5px 10px;
    text-align: center;
    color: rgb(66, 63, 63);
    font-family: pop;
    font-size: 16px;
}

.brand-description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    /* Change this number to the desired number of lines */
    overflow: hidden;
    text-overflow: ellipsis;
}

.brand-origin,
.brand-categories {
    font-weight: 600;
}

.brand-link {
    margin-top: 15px;
    text-decoration: none;
    color: #007BFF;
}

.brand-item>svg {
    fill: rgb(87, 81, 81);
    margin: auto;
    cursor: pointer;
    width: 200px;
    height: 200px;
}

/* Edit buttons */
.edit {
    padding: 5px 10px;
    background-color: #ffffff;
    border-radius: 2px;
    border: .5px solid black;
    color: rgb(45, 52, 52);
    position: absolute;
    right: 0;
    bottom: 100%;
    display: flex;
    align-items: center;
}

.edit:hover {
    cursor: pointer;
}

.edit:active {
    background-color: aqua;
}

.edit.delete {
    right: 18%;
}

/* Edit Form POPUP */
#content {
    position: relative;
    padding-bottom: 50px;
}

.form-background {
    position: fixed;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(52, 50, 50, 0.605);
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: max-content;
}

.form-head-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 7px 10px;
    background-color: rgb(162, 190, 185);
    box-shadow: inset 0px -2px 3px solid rgb(43, 43, 43);
}

.form-heading {
    font-size: 17px;
    font-weight: 600;
}

.form-head-box>svg {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.form-bottom-box {
    display: flex;
    justify-content: center;
    background-color: white;
}

.form-bottom-box>form {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 20px 30px;
    width: 100%;
    height: max-content;
}

.desc-label {
    cursor: text;
    margin-left: 5px;
    color: #555;
    font-size: 16px;
}

.desc-input {
    border-color: #999;
    outline: none;
    font-family: 'Roboto', 'Open Sans', 'Helvetica', sans-serif;
    color: rgb(36, 36, 36);
    margin-top: 5px;
    font-size: 16px;
    /* Adjust as needed */
    padding: 5px;
    width: 100%;
    resize: none;
}

.brand-logo-form {
    position: relative;
    width: 100%;
    height: 20vh;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand-logo-form>img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

.change-op {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.37);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    z-index: 10;
}

.change-op:hover {
    opacity: 1;
}

.change-btn {
    padding: 10px 15px;
    background-color: #ffffff;
    border-radius: 5px;
    border: .5px solid black;
    color: rgb(45, 52, 52);
}

.inputImage {
    position: absolute;
    transform: scale(0);
}

.brand-submit {
    padding: 10px;
    text-align: center;
}

.brand-submit-btn {
    width: max-content;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 16px;
    background: #5c5ca1;
    color: white;
    cursor: pointer;
}

.brand-submit-btn:active {
    background-color: #007BFF;
}


/* Disable body scroll */
.no-scroll {
    height: 100vh;
    overflow-y: hidden !important;
}

@media screen and (max-width: 1400px) {
    .edit.delete {
        right: 20%;
    }
}

@media screen and (max-width: 1300px) {
    .brand-item {
        width: calc(35% - 80px);
    }
}

@media screen and (max-width: 1200px) {
    .edit.delete {
        right: 23%;
    }

    .form-container {
        width: 35%;
    }
}

@media screen and (max-width: 1050px) {
    .brand-item {
        width: calc(34% - 30px);
    }

    .form-container {
        width: 40%;
    }
}

@media screen and (max-width: 1000px) {
    .edit.delete {
        right: 26.5%;
    }
}

@media screen and (max-width: 860px) {
    .brand-list {
        gap: 15px;
        padding: 15px;
    }

    .brand-item {
        width: calc(35% - 24px);
    }

    .edit {
        padding: 3px 5px;
    }

    .edit.delete {
        right: 25.5%;
    }

    .brand-item>svg {
        width: 150px;
        height: 150px;
    }

    .form-container {
        width: 45%;
    }
}

@media screen and (max-width: 800px) {
    .brand-list {
        gap: 5px;
        padding: 10px;
    }

    .brand-item {
        padding: 10px 7px;
        width: calc(35% - 17px);
    }

    .brand-name {
        font-size: 1.3em;
        margin-bottom: 3px;
    }

    .brand-description,
    .brand-origin,
    .brand-categories {
        margin: 2px 5px;
        font-size: 13px;
    }

    .brand-link {
        margin-top: 10px;
        font-size: 14px;
    }

    .edit {
        font-size: 12px;

        &>svg {
            width: 14px;
            height: 14px;
        }
    }

    .form-container {
        width: 50%;
    }

    .desc-input,
    .desc-label {
        font-size: 14px;
    }
}

@media screen and (max-width: 650px) {
    .brand-logo {
        max-height: 80px;
    }

    .brand-name {
        font-size: 1.1em;
        margin-bottom: 0;
    }

    .brand-description,
    .brand-origin,
    .brand-categories {
        margin: 2px 0px;
        font-size: 11px;
    }

    .brand-item {
        padding: 10px 11px;
        width: calc(35% - 14px);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }

    .brand-item>svg {
        width: 100px;
        height: 100px;
    }

    .edit {
        padding: 2px 4px;
    }

    .edit {
        font-size: 10px;

        &>svg {
            width: 11px;
            height: 11px;
        }
    }

    .edit.delete {
        right: 23%;
    }

    .form-container {
        width: 60%;
    }

    .form-bottom-box>form {
        padding: 6px 15px;
    }
}

@media screen and (max-width: 590px) {
    .edit.delete {
        right: 25%;
    }
}

@media screen and (max-width: 520px) {
    .brand-item {
        width: calc(36% - 17px);
    }

    .brand-logo {
        max-height: 70px;
    }

    .brand-name {
        font-size: 0.9em;
    }

    .brand-description,
    .brand-origin,
    .brand-categories {
        margin: 0.5px 0px;
        font-size: 9px;
    }

    .brand-link {
        margin-top: 7px;
        font-size: 12px;
    }

    .brand-header {
        padding: 15px 20px 10px 20px;
        font-size: 20px;
    }

    .edit.delete {
        right: 27%;
    }

    .brand-item>svg {
        width: 70px;
        height: 70px;
    }

    .edit {
        font-size: 9px;

        &>svg {
            width: 9px;
            height: 9px;
        }
    }

    .form-container {
        width: 73%;
    }
}

@media screen and (max-width: 460px) {
    .brand-item {
        width: calc(37% - 20px);
    }

    .edit.delete {
        right: 29%;
    }

    .desc-input {
        font-size: 12px;
        padding: 4px;
    }

    .desc-label {
        font-size: 12px;
        margin-left: 4px;
    }
}

@media screen and (max-width: 420px) {
    .brand-item {
        width: calc(46% - 20px);
    }

    .form-container {
        width: 85%;
    }
}

@media screen and (max-width: 380px) {
    .brand-item {
        width: calc(52% - 20px);
    }

    .form-container {
        width: 95%;
    }
}

@media screen and (max-width: 340px) {
    .brand-list {
        gap: 2px;
        padding: 5px;
    }

    .brand-item {
        width: calc(56% - 22px);
    }

    .edit {
        font-size: 8px;

        &>svg {
            width: 8px;
            height: 8px;
        }
    }

    .edit.delete {
        right: 26%;
    }
}

@media screen and (max-width: 300px) {
    .brand-item {
        width: calc(59% - 28px);
    }
}