.input {
    position: relative;
    margin-bottom: 0.1rem;
    width: 100%;
    /* Adjust as needed */
}

.input-split {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    padding: 0;
    width: 100%;
}

.input-element {
    border: none;
    outline: none;
    border-bottom: 1.2px solid rgb(170, 170, 170);
    font-family: 'Roboto', 'Open Sans', 'Helvetica', sans-serif;
    color: rgb(36, 36, 36);
    margin-top: 25px;
    font-size: 16px;
    /* Adjust as needed */
    padding: 5px;
    width: 100%;
}

.input-label {
    cursor: text;
    position: absolute;
    left: 5px;
    top: 60%;
    transform: translateY(-50%);
    color: #999;
    font-size: 16px;
    transition: top 0.3s ease, font-size 0.3s ease, color 0.3s ease;
    pointer-events: none;
}

.view-password {
    position: absolute;
    right: 10px;
    top: 60%;
    transform: translateY(-50%);
    font-size: 24px;
    color: rgb(70, 98, 96);
    display: none;

    &>svg{
        width: 20px;
        height: 20px;
        fill: currentColor;
    }
}

.view-password:hover{
    cursor: pointer;
}

.input-element:focus+.input-label,
.input-element.has-content+.input-label {
    top: 35%;
    font-size: 13.5px;
    color: #555;
}

.input-element.has-content~.view-password {
    display: block;
}

@media screen and (max-width: 720px) {
    .input-element {
        font-size: 14px;
        margin-top: 20px;
    }

    .input-label {
        top: 65%;
        font-size: 14px;
    }

    .input-element:focus+.input-label,
    .input-element.has-content+.input-label {
        top: 44%;
        font-size: 11px;
    }

    .view-password>svg{
        width: 18px;
        height: 18px;
    }
}

@media screen and (max-width: 450px) {
    .input-element {
        font-size: 12px;
        margin-top: 10px;
        padding: 4px;
    }

    .input-label {
        font-size: 12px;
        left: 4px;
    }

    .input-element:focus+.input-label,
    .input-element.has-content+.input-label {
        top: 29%;
        font-size: 9.5px;
    }

    .view-password>svg{
        width: 16px;
        height: 16px;
    }
}