* {
    box-sizing: border-box;
    margin: 0;
}

.login-container {
    display: flex;
    flex-direction: row;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.697);
    border-radius: 10px;
    width: 55%;
    margin: auto;
    margin-top: 50px;
}

.left {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 170px;
    padding: 50px 30px;
    border-radius: 10px;
    background-image: linear-gradient(135deg, #28576a, #72819a, #28576a);
}

.left-head {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.login-head {
    font-size: 30px;
    font-weight: 600;
    color: rgb(249, 251, 251);
}

.welcome-text {
    color: rgb(223, 234, 234);
    line-height: 1.2;
    letter-spacing: 0;
    margin-top: 5px;
}

.right {
    width: 55%;
    padding: 60px 40px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.design-img {
    width: 200px;
    margin: auto;
}

.auth-form {
    display: flex;
    flex-direction: column;
}

.forgot {
    padding-left: 5px;
    padding-top: 2px;
    text-decoration: none;
    font-size: 14px;
    display: block;
    margin-top: 0.4rem;
}

.btn {
    margin-top: 40px;
    padding: 10px 0px;
    background-color: rgb(247, 101, 52);
    color: rgb(255, 255, 255);
    border: none;
    outline: none;
    font-weight: 600;
    font-size: 15px;
    width: 100%;
}

.btn:hover {
    cursor: pointer;
}

.btn:active {
    background-color: rgb(251, 151, 151);
}

.otp-btn {
    margin-top: 25px;
    color: rgb(44, 44, 44);
    background-color: #96b4cc;
}

.or-line {
    color: rgb(39, 42, 43);
    font-size: 18px;
    text-align: center;
    margin-top: 25px;
    font-family: monospace;
}

.otp-container {
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}
.otp-inputs {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.otp-inputs input {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.error-msg {
    color: red;
    margin-top: 10px;
}

.anLink {
    margin: 0px auto;
    font-weight: 500;
    font-size: 16.5px;
    color: rgb(69, 69, 169);
    text-decoration: none;
}

.warn {
    font-size: 13px;
    color: red;
    padding-left: 5px;
}

.warning {
    color: rgb(224, 250, 26);
    background-color: rgba(238, 35, 35, 0.796);
    padding: 10px 15px;
    text-align: center;
    align-items: center;
    border: none;
    border-radius: 10px;
    margin-bottom: 5px;
}

@media screen and (max-width: 1400px) {
    .login-container {
        width: 60%;
    }

    .left {
        width: 50%;
    }
}

@media screen and (max-width: 1100px) {
    .login-container {
        width: 75%;
    }
}

@media screen and (max-width: 860px) {
    .login-container {
        width: 80%;
    }

    .right {
        width: 50%;
        padding: 50px 28px;
    }
}

@media screen and (max-width: 720px) {
    .login-container {
        width: 83%;
    }

    .left {
        row-gap: 150px;
        padding: 40px 25px;
    }

    .right {
        width: 50%;
        padding: 30px 23px;
    }

    .design-img {
        width: 150px;
    }

    .anLink {
        font-size: 14px;
    }

    .login-head {
        font-size: 27px;
    }

    .welcome-text {
        font-size: 15px;
    }


    .forgot {
        padding-left: 4px;
        font-size: 12px;
        margin-top: 0.3rem;
    }

    .btn {
        padding: 7px 0px;
        margin-top: 35px;
        font-size: 13px;
    }

    .warn {
        font-size: 12px;
    }
}

@media screen and (max-width: 600px) {
    .login-container {
        width: 95%;
        box-shadow: 1px 1px 3px #7c6f6f;
    }
}

@media screen and (max-width: 500px) {
    .login-container {
        width: 97%;
    }

    .anLink{
        font-size: 12px;
    }

    .design-img {
        width: 100px;
    }

    .right {
        padding: 22px 17px;
    }

    .left {
        row-gap: 100px;
        padding: 30px 22px;
    }

    .login-head {
        font-size: 24px;
    }

    .welcome-text {
        font-size: 12px;
    }

    .warn {
        font-size: 11px;
    }
    
    .warning {
        padding: 8px 12px;
    }
}

@media screen and (max-width: 450px) {
    .forgot {
        padding-left: 4px;
        font-size: 10px;
        margin-top: 0.15rem;
    }

    .btn {
        padding: 5px 0px;
        margin-top: 25px;
        font-size: 10px;
    }

    .anLink {
        font-size: 9.5px;
    }

    .warn {
        font-size: 9px;
    }

    .warning {
        font-size: 11px;
    }
}

@media screen and (max-width: 370px) {
    .login-container {
        width: 98.5%;
    }

    .left-head {
        row-gap: 3px;
    }

    .design-img {
        width: 75px;
    }

    .left {
        row-gap: 85px;
        padding: 26px 18px;
    }

    .login-head {
        font-size: 18.3px;
    }

    .welcome-text {
        font-size: 9.5px;
    }

    .right {
        padding: 18px 12px;
    }

    .anLink {
        font-size: 7.5px;
    }

    .btn{
        margin-top: 20px;
    }

    .warn {
        font-size: 7px;
        padding-left: 3px;
    }
    
    .warning {
        font-size: 9px;
        padding: 5px 9px;
        border-radius: 5px;
        margin-bottom: 3px;
    }
}