.content {
    display: flex;
    flex-direction: column;
    height: 90vh;
    position: relative;
}

.heading {
    font-size: 28px;
    font-weight: 600;
    font-family: pop;
    width: 100%;
    text-align: center;
    padding: 25px;
}

.order-menu {
    display: flex;
    padding-left: 20px;
    border-top: 1px solid rgb(0, 0, 0);
    border-bottom: 1px solid rgb(0, 0, 0);
    margin-bottom: 10px;
}

.menu {
    padding: 10px 20px;
    font-size: 17px;
    font-family: pop;
    font-weight: 600;
    cursor: pointer;
}

.menu:hover {
    background-color: rgb(136, 202, 224);
}

#order-list {
    width: 95%;
    flex-grow: 1;
    height: 100%;
    margin: 0px auto;
    position: relative;
    overflow: hidden;
}

.table-container {
    display: grid;
    grid-template-rows: auto 1fr;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: max-content;
    max-height: 100%;
    overflow: auto;
    transition: transform 0.3s ease-in;
}

.table-container:first-child {
    z-index: 1;
    background-color: white;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid black;
    width: fit-content;
}

th,
.action-col,
.quantity-col {
    padding: 10px;
    text-align: center;
}

td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

.order-modn,
.order-img {
    cursor: pointer;
}

.order-modn:hover {
    color: blue;
    text-decoration: underline;
}

.address-col:hover {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

.payment-col {
    color: red;
    font-family: pop;
    font-weight: 600;
}

.stage-0 {
    color: red;
}

.stage-1 {
    color: Blue;
}

.stage-2 {
    color: Orange;
}

.stage-3 {
    color: Purple;
}

.stage-4 {
    color: Teal;
}

.stage-5 {
    color: Green;
}

.options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 20px;
    width: 95vw;
    position: sticky;
    left: 0;
}

.action-btn,
.select-btn {
    border: none;
    outline: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: rgb(9, 223, 223);
    border-radius: 10px;
}

.action-btn:active,
.select-btn:active {
    background-color: rgb(142, 154, 154);
}

.stg-0 {
    background-color: red;
}

.stg-1 {
    background-color: Orange;
}

.stg-2 {
    color: white;
    background-color: Purple;
}

.stg-3 {
    color: white;
    background-color: Teal;
}

.stg-4 {
    color: white;
    background-color: Green;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    cursor: pointer;
}


.confirm-background {
    z-index: 20;
    position: fixed;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(52, 50, 50, 0.605);
}

.confirm-container {
    display: flex;
    flex-direction: column;
}

.confirm-head-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 7px 10px;
    background-color: rgb(162, 190, 185);
    box-shadow: inset 0px -2px 3px solid rgb(43, 43, 43);
}

.confirm-heading {
    font-size: 17px;
    font-weight: 600;
}

.confirm-head-box>ion-icon {
    font-size: 19px;
    cursor: pointer;
}

.confirm-bottom-box {
    padding: 40px 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
    background-color: white;
}

.confirm-statement {
    font-size: 16px;
}

.ok-btn-div {
    display: flex;
    justify-content: center;
}

.ok-btn {
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    border: none;
    outline: none;
    width: 43%;
    cursor: pointer;
    background-color: rgb(62, 202, 62);
}

.ok-btn:hover {
    background-color: rgb(175, 184, 184);
}

/* Disable body scroll */
.no-scroll {
    height: 100vh;
    overflow-y: hidden !important;
}


@media screen and (max-width: 700px) {
    .heading {
        font-size: 25px;
        padding: 20px;
    }

    .menu {
        padding: 7px 17px;
        font-size: 15px;
    }

    th {
        padding: 7px;
        font-size: 14px;
    }

    td {
        padding: 7px;
        font-size: 14px;
    }

    .order-img>img {
        width: 70px;
    }

    #order-list {
        width: 97%;
    }

    .options{
        width: 97vw;
    }

    .order-menu {
        margin-bottom: 7px;
    }

    .action-btn,
    .select-btn {
        padding: 7px 17px;
        font-size: 14px;
        border-radius: 7px;
    }
}

@media screen and (max-width: 580px) {
    .heading {
        font-size: 22px;
        padding: 17px;
    }

    .order-menu {
        padding-left: 10px;
    }

    .menu {
        padding: 5px 14px;
        font-size: 13px;
    }

    th {
        padding: 5px;
        font-size: 12px;
    }

    td {
        padding: 5px;
        font-size: 12px;
    }

    .order-img>img {
        width: 60px;
    }

    .action-btn,
    .select-btn {
        padding: 6px 14px;
        font-size: 12px;
    }

    input[type="checkbox"] {
        width: 17px;
        height: 17px;
    }
}

@media screen and (max-width: 470px) {
    .heading {
        font-size: 18px;
        padding: 14px;
    }

    .order-menu {
        padding-left: 7px;
    }

    .menu {
        padding: 4px 12px;
        font-size: 11px;
    }

    th {
        padding: 4px;
        font-size: 10px;
    }

    td {
        padding: 4px;
        font-size: 10px;
    }

    .order-img>img {
        width: 53px;
    }

    #order-list {
        width: 98%;
    }

    .options{
        width: 98vw;
        padding: 5px 10px;
    }

    .order-menu {
        margin-bottom: 5px;
    }

    .action-btn,
    .select-btn {
        padding: 5px 12px;
        font-size: 10px;
        border-radius: 5px;
    }

    input[type="checkbox"] {
        width: 16px;
        height: 16px;
    }
}

@media screen and (max-width: 410px) {
    .menu {
        padding: 3.5px 10px;
        font-size: 10px;
    }

    th {
        padding: 3.5px;
        font-size: 9px;
    }

    td {
        padding: 3.5px;
        font-size: 9px;
    }

    .order-img>img {
        width: 50px;
    }

    .action-btn,
    .select-btn {
        padding: 4.5px 11px;
        font-size: 9px;
        border-radius: 4px;
    }

    input[type="checkbox"] {
        width: 14px;
        height: 14px;
    }
}

@media screen and (max-width: 360px) {
    .heading {
        font-size: 16px;
        padding: 11px;
    }

    .order-menu {
        padding-left: 5px;
    }

    .menu {
        padding: 3px 8.3px;
        font-size: 9px;
    }

    th {
        padding: 3px;
        font-size: 8px;
    }

    td {
        padding: 3px;
        font-size: 8px;
    }

    .order-img>img {
        width: 45px;
    }

    .action-btn,
    .select-btn {
        padding: 4px 10px;
        font-size: 8px;
        border-radius: 3px;
    }

    input[type="checkbox"] {
        width: 13px;
        height: 13px;
    }
}

@media screen and (max-width: 315px) {
    .heading {
        font-size: 14px;
        padding: 9px;
    }

    .order-menu {
        padding-left: 3.5px;
    }

    .menu {
        padding: 2.5px 7px;
        font-size: 8px;
    }

    th {
        padding: 2.5px;
        font-size: 7px;
    }

    td {
        padding: 2.5px;
        font-size: 7px;
    }

    .order-img>img {
        width: 40px;
    }

    .action-btn,
    .select-btn {
        padding: 3.5px 9px;
        font-size: 7px;
    }

    input[type="checkbox"] {
        width: 12px;
        height: 12px;
    }
}