#container {
    width: 100vw;
    display: grid;
    grid-template-columns: 60%;
    justify-content: center;
    row-gap: 30px;
    padding-top: 30px;
    position: relative;
    overflow-x: hidden;
}

.msg {
    display: block;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%) scale(0);
    transform-origin: center;
    width: max-content;
    max-width: 50%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0.4px 0.7px 2px rgba(0, 0, 0, 0.73);
    background-color: #4ca052;
    color: rgb(255, 252, 252);
    transition: transform 0.15s ease-in;
}

.booking-container {
    width: 100%;
    padding: 20px;
    border: 0.4px solid blue;
    border-radius: 10px;
    background-color: #7ffff9bf;
    font-size: 17px;
    line-height: 1.2;
    position: relative;
}

.booking-container>p {
    color: #252f2f;
}

.booking-container.reviewed {
    opacity: 0.75;
}

.head {
    font-weight: 600;
    font-family: sans-serif;
    color: black;
}

.active-status {
    font-weight: 600;
    color: blue;
    font-family: sans-serif;
}

.deactive-status {
    font-weight: 600;
    color: rgb(19, 124, 30);
    font-family: sans-serif;
}

.announcement {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f0f8ff;
    border-left: 5px solid #007BFF;
    font-family: Arial, sans-serif;
    color: #333;
    border-radius: 5px;
}

.announcement h2 {
    color: #007BFF;
    margin-bottom: 10px;
}

.announcement p {
    line-height: 1.6;
}

.desc-input-box {
    margin-top: 15px;
    padding: 5px;
}

.desc-label {
    cursor: text;
    color: #555;
    font-size: 16px;
}

.desc-input {
    border-color: #999;
    outline: none;
    font-family: 'Roboto', 'Open Sans', 'Helvetica', sans-serif;
    color: rgb(36, 36, 36);
    margin-top: 10px;
    font-size: 14px;
    /* Adjust as needed */
    padding: 10px;
    width: 100%;
    resize: none;
}

.review-btn {
    position: absolute;
    right: 10px;
    bottom: 10px;
    border: none;
    outline: none;
    font-size: 14px;
    font-weight: 600;
    color: white;
    padding: 10px 20px;
    width: max-content;
    background-color: #05d402;
    border-radius: 10px;
    cursor: pointer;
}

.booking-btn {
    border: none;
    outline: none;
    font-size: 14px;
    font-weight: 600;
    color: white;
    padding: 10px 20px;
    width: max-content;
    margin: 10px 50%;
    transform: translateX(-50%);
    background-color: #0264ee;
    border-radius: 10px;
    cursor: pointer;
}

.booking-btn:active,
.review-btn:active {
    background-color: #02b7ee;
}


@media screen and (max-width: 1200px) {
    #container {
        grid-template-columns: 70%;
    }
}

@media screen and (max-width: 1000px) {
    #container {
        grid-template-columns: 80%;
    }
}

@media screen and (max-width: 860px) {
    #container {
        grid-template-columns: 90%;
    }
}

@media screen and (max-width: 740px) {
    #container {
        grid-template-columns: 95%;
    }

    .review-btn {
        font-size: 13px;
        padding: 8px 16px;
        border-radius: 7px;
    }

    .booking-container {
        padding: 17px;
        font-size: 15px;
    }

    .announcement {
        margin: 15px auto;
        padding: 13px;
        border-left: 4px solid #007BFF;
    }

    .announcement h2 {
        margin-bottom: 5px;
        font-size: 20px;
    }

    .announcement p {
        font-size: 15px;
    }
}

@media screen and (max-width: 550px) {
    #container {
        row-gap: 15px;
    }

    .booking-container {
        padding: 15px;
        font-size: 13.5px;
    }

    .review-btn {
        font-size: 12px;
        padding: 7px 14px;
        border-radius: 5px;
    }

    .announcement {
        margin: 10px auto;
        padding: 10px;
        border-left: 3.5px solid #007BFF;
    }

    .announcement h2 {
        margin-bottom: 3px;
        font-size: 17px;
    }

    .announcement p {
        font-size: 12px;
        line-height: 1.3;
    }

    .desc-label {
        font-size: 15px;
    }

    .desc-input {
        margin-top: 7px;
        font-size: 12px;
        padding: 8px;
    }

    .booking-btn {
        font-size: 12px;
        padding: 8px 15px;
        margin: 5px 50%;
        border-radius: 5px;
    }

    .desc-input-box {
        margin-top: 10px;
        padding: 3px;
    }
}

@media screen and (max-width: 460px) {
    .booking-container {
        padding: 12px;
        border: 0.3px solid blue;
        font-size: 14px;
        line-height: 1.1;
    }

    .review-btn {
        font-size: 11px;
        padding: 6px 12px;
        right: 4px;
        bottom: 4px;
    }

    .desc-label {
        font-size: 13px;
    }

    .desc-input {
        margin-top: 6px;
        font-size: 11.5px;
        padding: 6px;
    }

    center h2 {
        font-size: 23px;
    }
}

@media screen and (max-width: 370px) {
    #container {
        row-gap: 10px;
    }

    .booking-container {
        padding: 9px;
        font-size: 12px;
        line-height: 1;
    }

    .review-btn {
        font-size: 9px;
        padding: 4px 10px;
    }

    .announcement {
        margin: 7px auto;
        padding: 8px;
        border-left: 3px solid #007BFF;
    }

    .announcement h2 {
        margin-bottom: 2px;
        font-size: 15px;
    }

    .announcement p {
        font-size: 10px;
        line-height: 1.15;
    }

    .desc-label {
        font-size: 12.5px;
    }

    .desc-input {
        margin-top: 5px;
        font-size: 11px;
        padding: 4px;
    }

    .booking-btn {
        font-size: 10px;
        padding: 6px 10px;
        margin: 3px 50%;
        border-radius: 3px;
    }

    center h2 {
        font-size: 21px;
    }
}