.profile-container {
    display: flex;
    flex-direction: row;
    column-gap: 40px;
    padding: 30px 20px;
    width: 100%;
}

.profile-menu {
    display: flex;
    flex-direction: column;
    width: 15%;
    row-gap: 20px;
    padding-top: 30px;
    box-shadow: inset -0.6px 0px 0px rgb(182, 172, 172);
    position: relative;
}

.profile-heading {
    font-size: 18px;
    font-weight: 800;
    text-align: center;
    padding: 10px;
    padding-bottom: 20px;
    font-family: sans-serif;
}

.profile-menu-list {
    display: flex;
    flex-direction: column;
}

.profile-menu-item {
    display: flex;
    font-size: 16px;
    align-items: center;
    padding: 15px 10px;
    padding-left: 30%;
    color: rgb(111, 102, 102);
    cursor: pointer;
    column-gap: 10px;
}

.profile-menu-item>svg {
    width: 20px;
    height: 20px;
    fill: currentColor;
}

.profile-menu-item:hover {
    background-color: rgb(225, 237, 246);
}

.profile-menu-item:active {
    background-color: rgb(224, 225, 225);
}

.profile-menu-item.highlight {
    border-right: 2px solid rgb(241, 37, 37);
}

.logout-btn {
    border: none;
    outline: none;
    background: none;
    color: red;
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-size: 16px;
    font-weight: 600;
    font-family: sans-serif;
    align-items: center;
    position: absolute;
    bottom: 5%;
    left: 25%;
    cursor: pointer;
}

.logout-btn:active {
    color: rgb(28, 28, 28);
}

.logout-btn>svg {
    width: 20px;
    height: 20px;
    fill: currentColor;
}

.profile-content {
    height: 80vh;
    width: 85%;
    position: relative;
    overflow: hidden;
}

.profile-content>div {
    transition: transform 0.3s ease-in-out;
}

.user-info,
.settings,
.favourites,
.your-orders,
.notifications,
.products,
.brands {
    display: flex;
    flex-direction: column;
    padding: 80px 10%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
}

.user-info {
    z-index: 1;
}

.user-top {
    display: flex;
    flex-direction: row;
    column-gap: 40px;
}

.user-logo {
    background: linear-gradient(to right, rgb(255, 188, 143), rgb(255, 118, 27));
    border-radius: 50%;
    padding: 20px;
    overflow: hidden;
    box-shadow: 3px 10px 15px rgba(0, 0, 0, 0.199);

    &>svg {
        width: 55px;
        height: 55px;
        fill: black;
    }
}

.user-detail {
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    justify-content: center;
}

.user-name {
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 600;
}

.user-address {
    font-size: 14px;
    color: rgb(101, 111, 110);
}

.user-data {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    margin-top: 40px;
    width: 70%;
}

.data-box-split {
    display: flex;
    flex-direction: row;
    column-gap: 5%;
}

.data-box {
    width: 50%;
}

.data-head {
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 600;
    padding-left: 5px;
    margin-bottom: 10px;
    color: rgb(20 116 95);
}

.data-value {
    font-size: 16px;
    padding: 10px 20px;
    width: 100%;
    text-align: center;
    border: 0.3px solid rgb(187, 195, 195);
    border-radius: 8px;
    background-color: rgb(233, 241, 241);
    color: rgb(32, 32, 32);
}

.add-address {
    display: block;
    font-size: .95em;
    font-weight: 600;
    background-color: rgb(55, 178, 178);
    color: black;
    padding: 10px 20px;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
}

.add-address:active {
    background-color: rgb(233, 241, 241);
}

.data-change {
    padding: 20px;
    text-align: center;
    width: 100%;
}

.data-change-btn {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: rgb(244, 34, 34);
    color: whitesmoke;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    padding: 10px;
    width: 20%;
    border-radius: 10px;
    box-shadow: 2px 4px 6px rgba(67, 67, 67, 0.293);
}

.favourites,
.your-orders,
.products,
.brands {
    padding: 0px 40px;
    padding-top: 30px;
    width: 90%;
    height: 100%;
    overflow: scroll;
    -webkit-scrollbar: none;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.fav-heading {
    font-size: 24px;
    font-weight: 600;
    padding-left: 20px;
}

#brands-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 20px;
}

.brand-container {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: max-content;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgb(88, 85, 85);
    cursor: pointer;
}

.brand-image {
    width: 100%;
    aspect-ratio: 1;
    border-bottom: 0.6px solid rgb(105, 100, 100);
    padding: 25px;
}

.brand-image>img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 100%;
}

.brand-name {
    text-align: center;
    padding: 12px;
}

.brand-name>p {
    font-size: 18px;
    font-weight: 600;
    color: rgb(56, 54, 54);
}

.search-item {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    width: 100%;
    height: 13vw;
    background-color: rgba(233, 244, 244, 0.509);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.606);
}

.search-image {
    width: 18%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(223, 250, 250);
    cursor: pointer;
}

.images {
    max-width: 100%;
    max-height: 100%;
}

.search-content {
    width: 82%;
    padding: 10px 20px;
}

.images.hide {
    display: none;
}

.heading {
    font-size: 25px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    cursor: pointer;
}

.price {
    margin-bottom: 15px;
}

.price>sup {
    font-size: 18px;
}

.price>span {
    font-size: 25px;
}

.price>label>span {
    text-decoration: line-through;
}

.rating {
    margin-top: 5px;
    display: flex;
    column-gap: 5px;
}

.rating svg {
    width: 20px;
    height: 20px;
    fill: #FDCC0D;
}

.points {
    display: flex;
    column-gap: 5px;
    align-items: center;
    margin-top: 2px;
}

.points svg {
    width: 16px;
    height: 16px;
}

.order-menu,
.product-menu {
    display: flex;
    padding-bottom: 5px;
    border-bottom: 1px solid blue;
}

.menu {
    padding: 5px 20px;
    font-size: 17px;
    font-family: pop;
    font-weight: 600;
    cursor: pointer;
}

#order-list,
#product-list {
    display: flex;
    width: 100%;
    flex-grow: 1;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.head-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#All-products,
#Available,
#Unavailable {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-grow: 1;
    flex-wrap: nowrap;
    height: 100%;
    overflow-y: scroll;
}

.list-item {
    position: absolute;
    width: 100%;
    height: max-content;
    max-height: 100%;
    overflow: scroll;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 15px;
    padding: 20px;
    transition: transform 0.2s ease-in-out;

    -webkit-scrollbar: none;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.order-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 20px;
    border-radius: 5px;
    width: 45%;
    height: max-content;
    box-shadow: 0.8px 0.4px 3px black;
    cursor: pointer;
}

.order-left,
.order-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 10px;
}

.order-id {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
}

.order-date {
    font-size: 15px;
    color: rgb(164, 168, 169);
}

.order-delivery,
.order-pay-status {
    color: orangered;
    font-size: 15px;

}

.order-rated {
    color: orangered;
    font-size: 15px;
    display: flex;
    align-items: normal;
    column-gap: 3px;
}

.order-img {
    height: 80px;
    text-align: right;
}

.order-img>img {
    max-height: 100%;
    border-radius: 8px;
}

.personal-info {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    padding-bottom: 20px;
    border-bottom: 0.4px solid rgb(218, 218, 218);
    transition: all 0.3s ease-in-out;
}

.setting-head {
    font-size: 20px;
    font-weight: 600;
}

.setting-edit {
    font-size: 17px;
    margin-left: 20px;
    cursor: pointer;
    color: blue;
}

.setting-edit:active {
    color: black;
}

.email-info,
.phone-number {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    margin-top: 30px;
    padding-bottom: 20px;
    border-bottom: 0.4px solid rgb(218, 218, 218);
    transition: all 0.3s ease-in-out;
}

.change-opt {
    display: flex;
    flex-direction: row;
    column-gap: 15px;
}

.save-btn {
    display: block;
    background-color: rgb(226, 50, 50);
    color: rgb(255, 255, 255);
    font-size: .95em;
    font-weight: 600;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    height: max-content;
    margin: auto 0;
    cursor: pointer;
}

.save-btn:active {
    background-color: rgb(251, 133, 133);
}

.input {
    position: relative;
    width: 55%;
    /* Adjust as needed */
}

.input-split {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    padding: 0;
    width: 70%;
}

.input-element {
    border: none;
    outline: none;
    border-radius: 15px;
    background-color: rgb(232, 239, 237);
    font-family: 'Roboto', 'Open Sans', 'Helvetica', sans-serif;
    color: rgb(26, 25, 25);
    margin-top: 0px;
    font-size: 15px;
    font-weight: 600;
    /* Adjust as needed */
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 13px;
    width: 100%;
}

.input-label {
    cursor: text;
    position: absolute;
    left: 20px;
    top: 48%;
    transform: translateY(-50%);
    color: #363030;
    font-size: 15px;
    transition: top 0.3s ease, font-size 0.3s ease, color 0.3s ease;
    pointer-events: none;
}

.input-element:focus+.input-label,
.input-element.has-content+.input-label {
    top: 28%;
    font-size: 11.5px;
    color: #767474;
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.form-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #302d2d89;
}

.confirmForm {
    padding: 50px 70px;
    border-radius: 20px;
    width: 50%;
    background-color: white;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.confirmForm-heading {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    padding: 20px 10px;
    padding-top: 0;
}

.password-heading {
    padding-left: 15px;
    font-size: 18px;
}

.confirm-submit-btn {
    width: max-content;
    margin: 0 auto;
}

.btn-list {
    display: flex;
    flex-direction: row-reverse;
    column-gap: 10px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.delete-btn {
    font-size: .85em;
    font-weight: 600;
    border: none;
    outline: none;
    box-shadow: 1px 1px 5px black;
    border-radius: 8px;
    background-color: red;
    color: white;
    padding: 10px 20px;
}

.avail-btn {
    font-size: .85em;
    font-weight: 600;
    border: none;
    outline: none;
    box-shadow: 1px 1px 5px black;
    border-radius: 8px;
    background-color: rgb(255, 187, 0);
    color: black;
    padding: 10px 20px;
}

.add-btn {
    font-size: .85em;
    font-weight: 600;
    border: none;
    outline: none;
    box-shadow: 0.5px 0.3px 3px black;
    border-radius: 8px;
    background-color: #525050;
    color: white;
    height: max-content;
    padding: 10px 20px;
}

.unavail-btn {
    font-size: .85em;
    font-weight: 600;
    border: none;
    outline: none;
    box-shadow: 1px 1px 5px black;
    border-radius: 8px;
    background-color: rgb(0, 217, 255);
    color: black;
    padding: 10px 20px;
}

.delete-btn:hover,
.avail-btn:hover,
.unavail-btn:hover,
.add-btn:hover {
    cursor: pointer;
}

.delete-btn:active,
.avail-btn:active,
.unavail-btn:active,
.add-btn:active {
    background-color: aqua;
}

label[for="keyword"] {
    display: none;
}

@media screen and (max-width: 1850px) {
    .heading {
        font-size: 22px;
    }

    .rating {
        margin-top: 2px;
    }

    .points>span {
        font-size: 15px;
    }

    .price {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 1700px) {
    .search-item {
        height: 14vw;
    }
}

@media screen and (max-width: 1530px) {
    .search-item {
        height: 15vw;
    }

    .delete-btn,
    .avail-btn,
    .unavail-btn {
        padding: 7px 13px;
        font-size: .75em;
    }
}

@media screen and (max-width: 1420px) {
    .heading {
        font-size: 20px;
    }

    .points>span {
        font-size: 13px;
    }

    .price {
        margin-bottom: 5px;
    }

    .price>sup {
        font-size: 15px;
    }

    .price>span {
        font-size: 22px;
    }

    .price>label {
        font-size: 15px;
    }

    .profile-menu-item,
    .logout-btn {
        padding-left: 24%;
    }

    .confirmForm {
        width: 55%;
    }
}

@media screen and (max-width: 1310px) {
    .search-item {
        height: 16vw;
    }

    .list-item {
        row-gap: 15px;
        column-gap: 10px;
    }

    .order-container {
        width: 47.5%;
    }

    .data-box {
        width: 60%;
    }
}

@media screen and (max-width: 1250px) {
    .profile-menu {
        width: 18%;
    }

    .user-data {
        width: 85%;
    }

    .order-container {
        width: 48.5%;
    }

    .order-delivery {
        text-align: left;
    }

    .order-pay-status {
        text-align: right;
        padding-left: 4px;
    }
}

@media screen and (max-width: 1215px) {
    .heading {
        font-size: 18px;
    }

    .search-item {
        height: 17vw;
    }

    .points>span {
        font-size: 13px;
    }

    .price {
        margin-bottom: 5px;
    }

    .price>sup {
        font-size: 12px;
    }

    .price>span {
        font-size: 20px;
    }

    .price>label {
        font-size: 12px;
    }

    .confirmForm {
        width: 60%;
        padding: 50px 60px;
    }

    .brand-container {
        width: 22%;
    }
}

@media screen and (max-width: 1130px) {
    .search-item {
        height: 18vw;
    }

    input[type="checkbox"] {
        width: 14px;
        height: 14px;
        margin-right: 5px;
    }

    .search-image {
        width: 25%;
    }

    .search-content {
        width: 75%;
    }

    .delete-btn,
    .avail-btn,
    .unavail-btn {
        padding: 5px 10px;
        font-size: .65em;
    }

    .profile-menu-item,
    .logout-btn {
        padding-left: 21%;
    }

    .data-change-btn {
        width: 23%;
    }

    .list-item {
        padding: 10px 0px;
        padding-left: 4px;
    }

    .order-container {
        padding: 7px 15px;
    }

    .data-box {
        width: 70%;
    }
}

@media screen and (max-width: 1060px) {
    .search-item {
        height: 20vw;
    }

    .profile-menu-item,
    .logout-btn {
        padding-left: 14%;
    }

    .data-change-btn {
        width: 25%;
    }

    .order-id {
        font-size: 15px;
        margin-bottom: 3px;
    }

    .order-img {
        height: 70px;
    }

    .order-delivery,
    .order-pay-status {
        font-size: 13px;
    }

    .order-date {
        font-size: 14px;
    }

    .data-box {
        width: 75%;
    }

    .confirmForm {
        width: 70%;
        padding: 45px 60px;
    }

    #brands-list {
        column-gap: 15px;
        justify-content: center;
    }

    .brand-container {
        width: 28%;
        box-shadow: 0.5px 0.3px 3px rgb(88, 85, 85);
    }

    .add-btn {
        font-size: 0.80em;
        border-radius: 5px;
        padding: 8px 17px;
    }
}

@media screen and (max-width: 940px) {
    .search-item {
        height: 22vw;
    }

    .data-change-btn {
        width: 26%;
    }

    .profile-menu {
        width: 21%;
    }

    .user-data {
        width: 100%;
    }

    .order-container {
        padding: 5px 9px;
        border-radius: 3px;
    }

    .data-box {
        width: 80%;
    }

    .confirmForm {
        width: 80%;
        padding: 40px 50px;
        border-radius: 10px;
    }

    .brand-container {
        width: 30%;
    }
}

@media screen and (max-width: 860px) {
    .search-item {
        height: 24vw;
    }

    .filter-sign-small {
        display: block;
    }

    .filter-sign {
        display: none;
    }

    .main-content {
        flex-direction: column;
        position: relative;
    }

    .search-output-area {
        width: 100%;
        padding-top: 0;
    }

    .filter-box {
        overflow: hidden;
        width: 0;
        transform: translateX(-100%);
        transition: 0.5s;
        position: absolute;
        padding-top: 0;
        margin-top: 33px;
        height: 100%;
        background-color: white;
        overflow: scroll;
        z-index: 10;
    }

    .filter-box.active {
        width: fit-content;
        transform: translateX(0);
    }

    .filter-box>div {
        padding: 10px 30px 10px 20px;
    }

    .filter-box-background {
        display: block;
        height: 100%;
        position: absolute;
        margin-top: 33px;
        z-index: 8;
        width: 0;
        transform: translateX(-100%);
        transition: 0.5s;
        background-color: rgba(0, 0, 0, 0.479);
        overflow: hidden;
    }

    .filter-box-background.active {
        width: 100%;
        transform: translateX(0);
    }

    .profile-menu-item {
        font-size: 14px;
        padding: 10px;
        padding-left: 14%;
    }

    .profile-menu-item>svg {
        width: 18px;
        height: 18px;
    }

    .profile-heading {
        font-size: 18px;
        font-weight: 600;
        padding: 10px;
    }

    .profile-menu {
        row-gap: 10px;
        padding-top: 25px;
    }

    .profile-container {
        column-gap: 25px;
        padding: 20px 10px;
    }

    .user-info,
    .settings,
    .favourites,
    .your-orders,
    .notifications,
    .products,
    .brands {
        padding: 40px 4%;
    }

    .user-logo {
        box-shadow: 2px 5px 8px rgba(0, 0, 0, 0.199);

        &>svg {
            width: 40px;
            height: 40px;
        }
    }

    .user-top {
        column-gap: 25px;
    }

    .user-detail {
        row-gap: 3px;
    }

    .user-name {
        font-size: 16px;
    }

    .user-address {
        font-size: 12px;
        padding-left: 3px;
    }

    .user-data {
        row-gap: 20px;
        margin-top: 30px;
    }

    .data-head {
        font-size: 14px;
        margin-bottom: 5px;
    }

    .data-value {
        font-size: 14px;
        padding: 7px 10px;
        border: 0.15px solid rgb(187, 195, 195);
        border-radius: 5px;
    }

    .add-address {
        font-size: 0.85rem;
        padding: 7px 10px;
    }

    .data-change-btn {
        font-size: 13px;
        padding: 8px;
        border-radius: 5px;
        box-shadow: 1px 2px 4px rgba(67, 67, 67, 0.293);
    }

    .order-container {
        width: 65%;
    }
}

@media screen and (max-width: 800px) {
    .heading {
        font-size: 16px;
    }

    .rating {
        margin-top: 0;
    }

    .points>span {
        font-size: 11px;
    }

    .price {
        margin-bottom: 0px;
    }

    .price>sup {
        font-size: 10px;
    }

    .price>span {
        font-size: 18px;
    }

    .price>label {
        font-size: 10px;
    }

    .confirmForm {
        width: 83%;
        padding: 30px 40px;
    }

    #brands-list {
        row-gap: 15px;
        column-gap: 9px;
    }

    .brand-container {
        width: 32%;
        border-radius: 7px;
    }

    .brand-name>p {
        font-size: 16px;
    }
}

@media screen and (max-width: 740px) {
    .search-item {
        height: 26vw;
    }

    .search-content {
        padding: 5px 10px;
    }

    .fav-heading {
        font-size: 20px;
    }

    .profile-heading {
        font-size: 15px;
        padding: 5px;
    }

    .profile-menu-item {
        font-size: 12px;
        padding-left: 13%;
        column-gap: 7px;
    }

    .profile-menu-item>svg {
        width: 16px;
        height: 16px;
    }

    .logout-btn {
        padding-left: 0%;
        font-size: 13px;
        column-gap: 7px;
    }

    .logout-btn>svg {
        width: 17px;
        height: 17px;
    }

    .user-info,
    .settings,
    .favourites,
    .your-orders,
    .notifications,
    .products,
    .brands {
        padding: 35px 3%;
    }

    .user-logo {
        padding: 18px;

        &>svg {
            width: 25px;
            height: 25px;
        }
    }

    .user-top {
        column-gap: 20px;
    }

    .user-detail {
        row-gap: 2px;
    }

    .user-name {
        font-size: 14px;
    }

    .user-address {
        font-size: 11px;
        padding-left: 1px;
    }

    .user-data {
        row-gap: 15px;
        margin-top: 25px;
    }

    .data-head {
        font-size: 12px;
        margin-bottom: 3.5px;
    }

    .data-value {
        font-size: 12px;
        padding: 5px 10px;
    }

    .add-address {
        font-size: 0.75rem;
        padding: 5px 10px;
    }

    .data-change-btn {
        font-size: 12px;
        padding: 6px;
        border-radius: 5px;
        box-shadow: 1px 2px 4px rgba(67, 67, 67, 0.293);
    }

    .order-container {
        width: 73%;
    }

    .setting-head {
        font-size: 18px;
    }

    .setting-edit {
        font-size: 14px;
        margin-left: 10px;
    }

    .confirmForm {
        width: 85%;
        padding: 25px 35px;
        row-gap: 10px;
    }

    .password-heading {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 17px;
        text-align: center;
    }

    .confirmForm-heading {
        font-size: 17px;
        padding: 15px 10px;
        padding-top: 0;
    }

    .brand-container {
        width: 31%;
    }

    .add-btn {
        font-size: 0.75em;
        border-radius: 5px;
        padding: 7px 15px;
    }
}

@media screen and (max-width: 665px) {
    .search-item {
        height: 28vw;
    }

    .order-container {
        width: 78%;
    }

    .brand-name>p {
        font-size: 15px;
    }

    .brand-image {
        padding: 15px;
    }
}

@media screen and (max-width: 620px) {
    .search-item {
        height: 30vw;
    }

    .search-image {
        width: 30%;
    }

    .search-content {
        width: 70%;
    }

    .profile-container {
        column-gap: 15px;
        padding: 20px 5px;
    }

    .profile-menu {
        width: 23%;
    }

    .order-container {
        width: 83%;
    }
}

@media screen and (max-width: 580px) {
    .search-output-area {
        padding: 0px 10px 20px 10px;
    }

    .search-item {
        height: 32vw;
        margin-top: 10px;
    }

    .delete-btn,
    .avail-btn,
    .unavail-btn {
        font-size: .55em;
    }

    .profile-container {
        flex-direction: column;
    }

    .profile-menu {
        width: 100%;
        row-gap: 0;
        padding-top: 5px;
        box-shadow: inset 0px -0.4px 0px rgb(182, 172, 172);
    }

    .profile-menu-list {
        flex-direction: row;
    }

    .profile-menu-item {
        padding: 7px;
    }

    .profile-menu-item.highlight {
        border-right: none;
        border-bottom: 2px solid rgb(241, 37, 37);
    }

    .logout-btn {
        position: absolute;
        top: 60%;
        right: 10px;
        bottom: auto;
        left: auto;
    }

    .profile-content {
        width: 100%;
    }

    .user-info,
    .settings,
    .favourites,
    .your-orders,
    .notifications,
    .products,
    .brands {
        width: 100%;
        padding: 30px 5%;
    }

    .list-item {
        row-gap: 10px;
    }

    .order-container {
        width: 70%;
    }

    .menu {
        padding: 0px 15px;
        font-size: 16px;
    }

    .order-id {
        font-size: 13px;
        margin-bottom: 1.5px;
    }

    .order-img {
        height: 60px;
    }

    .order-delivery,
    .order-pay-status {
        font-size: 11px;
    }

    .order-date {
        font-size: 12px;
    }

    .setting-head {
        font-size: 16px;
        padding-left: 3px;
    }

    .setting-edit {
        font-size: 13px;
    }

    .add-btn {
        font-size: 0.65em;
        border-radius: 5px;
        padding: 6px 13px;
        margin-right: 15px;
    }
}

@media screen and (max-width: 515px) {
    .search-item {
        height: 36vw;
    }

    .heading {
        font-size: 14px;
        -webkit-line-clamp: 3;
        line-clamp: 3;
    }

    .points {
        margin-top: -1px;
    }

    .search-image {
        width: 35%;
    }

    .search-content {
        width: 65%;
    }

    .profile-menu-item {
        font-size: 10px;
        column-gap: 5px;
    }

    .profile-menu-item>svg {
        width: 14px;
        height: 14px;
    }

    .logout-btn {
        top: 65%;
        font-size: 11px;
        column-gap: 5px;
    }

    .logout-btn>svg {
        width: 15px;
        height: 15px;
    }

    .profile-heading {
        font-size: 14px;
    }

    .profile-container {
        padding: 5px;
    }

    .user-info,
    .settings,
    .favourites,
    .your-orders,
    .notifications,
    .products,
    .brands {
        padding: 20px 4%;
    }

    .user-logo {
        padding: 13px;

        &>svg {
            width: 30px;
            height: 30px;
        }
    }

    .user-top {
        column-gap: 10px;
    }

    .user-detail {
        row-gap: 0.5px;
    }

    .user-name {
        font-size: 12px;
    }

    .user-address {
        font-size: 9px;
        padding-left: 0.3px;
    }

    .user-data {
        row-gap: 10px;
        margin-top: 20px;
    }

    .data-head {
        font-size: 10px;
        margin-bottom: 3px;
    }

    .data-box-split {
        column-gap: 3%;
    }

    .data-value {
        font-size: 10px;
        padding: 3.5px 10px;
    }

    .add-address {
        font-size: 0.65rem;
        padding: 4px 10px;
    }

    .data-change {
        padding: 10px;
    }

    .data-change-btn {
        font-size: 10px;
        padding: 4.5px;
        box-shadow: 1px 1.3px 2.5px rgba(67, 67, 67, 0.293);
    }

    .fav-heading {
        font-size: 18px;
    }

    .confirmForm {
        row-gap: 7px;
    }

    .password-heading,
    .confirmForm-heading {
        font-size: 15px;
    }
}

@media screen and (max-width: 480px) {
    .search-item {
        height: 40vw;
    }

    .btn-list {
        column-gap: 5px;
    }

    .delete-btn,
    .avail-btn,
    .unavail-btn {
        font-size: .45em;
        box-shadow: .5px .5px 3px black;
        border-radius: 5px;
    }


    .head-section {
        margin-bottom: 10px;
    }

    .menu {
        font-size: 15px;
    }

    .setting-head {
        font-size: 14px;
        padding-left: 3px;
    }

    .setting-edit {
        font-size: 12px;
        margin-left: 5px;
    }

    .email-info,
    .phone-number {
        margin-top: 20px;
    }

    .confirmForm-heading {
        padding: 8px;
        padding-top: 0;
    }

    .password-heading,
    .confirmForm-heading {
        font-size: 14px;
    }
}

@media screen and (max-width: 440px) {
    .search-item {
        height: 45vw;
    }

    .delete-btn,
    .avail-btn,
    .unavail-btn {
        padding: 3px 7px;
        font-size: .35em;
    }

    .profile-menu-list {
        column-gap: 5px;
    }

    .profile-menu-item {
        width: max-content;
        display: flex;
        align-items: center;
        vertical-align: middle;
        font-size: 12px;

        &>svg {
            width: 16px;
            height: 16px;
            margin-bottom: 2px;
        }

        &>span {
            display: none;
        }
    }

    .profile-menu-item.highlight {
        width: max-content;
        display: flex;
        border-right: none;
        border-bottom: 2px solid rgb(241, 37, 37);

        &>span {
            display: block;
        }
    }

    .logout-btn {
        top: 63%;
        font-size: 12px;
    }

    .logout-btn>svg {
        width: 16px;
        height: 16px;
    }

    .fav-heading {
        font-size: 16px;
        padding-left: 10px;
    }

    .order-container {
        width: 75%;
    }

    .menu {
        font-size: 14px;
        padding: 0px 10px;
    }

    .personal-info,
    .email-info,
    .phone-number {
        row-gap: 10px;
    }

    .setting-edit {
        font-size: 11px;
        margin-left: 7px;
    }

    .confirmForm {
        width: 90%;
        padding: 18px 20px;
        row-gap: 5px;
    }

    .brand-container {
        width: 35%;
    }

    .brand-name>p {
        font-size: 14px;
    }

    .add-btn {
        font-size: 0.55em;
        border-radius: 3px;
        padding: 5px 11px;
        margin-right: 15px;
    }
}

@media screen and (max-width: 390px) {
    .search-item {
        height: 55vw;
    }

    .search-image {
        width: 45%;
    }

    .search-content {
        width: 55%;
    }

    .delete-btn,
    .avail-btn,
    .unavail-btn {
        width: 100%;
    }

    .order-container {
        width: 85%;
        box-shadow: 0.5px 0.15px 2px black;
    }

    .password-heading,
    .confirmForm-heading {
        font-size: 13px;
    }

    .brand-container {
        width: 40%;
    }
}

@media screen and (max-width: 350px) {
    .search-item {
        height: 65vw;
    }

    .search-image {
        width: 50%;
    }

    .search-content {
        width: 50%;
    }

    .delete-btn,
    .avail-btn,
    .unavail-btn {
        padding: 2px 5px;
        font-size: .30em;
    }

    .btn-list {
        row-gap: 2px;
    }

    .user-info,
    .settings,
    .favourites,
    .your-orders,
    .notifications,
    .products,
    .brands {
        padding: 10px 4%;
    }

    .user-logo {
        padding: 11px;

        &>svg {
            width: 25px;
            height: 25px;
        }
    }

    .user-top {
        column-gap: 8px;
    }

    .user-detail {
        row-gap: 0.3px;
    }

    .user-name {
        font-size: 11px;
    }

    .user-address {
        font-size: 8px;
        padding-left: 0.15px;
    }

    .data-box-split {
        column-gap: 2%;
        row-gap: 8px;
        flex-direction: column;
        width: 100%;
    }

    .data-box,
    .data-value {
        width: 100%;
    }

    .data-change-btn {
        font-size: 9px;
        padding: 4.5px;
        width: 28%;
    }

    .profile-menu-item {
        font-size: 11px;
    }

    .profile-menu-item>svg {
        width: 15px;
        height: 15px;
    }

    .profile-menu-list {
        column-gap: 2.5px;
    }

    .fav-heading {
        font-size: 14px;
        padding-left: 7px;
    }

    .menu {
        font-size: 13px;
        padding: 0px 7.5px;
    }

    .order-container {
        width: 95%;
    }

    .order-id {
        font-size: 11.5px;
        margin-bottom: 1px;
    }

    .order-img {
        height: 50px;
    }

    .order-delivery,
    .order-pay-status {
        font-size: 9.5px;
    }

    .order-date {
        font-size: 10px;
    }

    .setting-head {
        font-size: 13px;
    }

    .setting-edit {
        font-size: 10px;
        margin-left: 5px;
    }

    .password-heading,
    .confirmForm-heading {
        font-size: 12px;
    }

    .add-btn {
        font-size: 0.45em;
        border-radius: 3px;
        padding: 4px 9px;
        margin-right: 12px;
        box-shadow: 0.3px 0.1px 3px black;
    }
}

@media screen and (min-height: 615px) {
    .main-content {
        height: 74vh;
    }
}

@media screen and (min-height: 660px) {
    .main-content {
        height: 76vh;
    }
}

@media screen and (min-height: 718px) {
    .main-content {
        height: 78vh;
    }
}

@media screen and (min-height: 783px) {
    .main-content {
        height: 80vh;
    }
}


/* Input Element */
@media screen and (max-width: 1200px) {
    .input-split {
        width: 75%;
    }
}

@media screen and (max-width: 980px) {
    .input-split {
        width: 80%;
    }
}

@media screen and (max-width: 920px) {
    .input-split {
        width: 90%;
        column-gap: 6.5px;
    }

    .change-opt {
        column-gap: 10px;
    }

    .input-element {
        border-radius: 8px;
        padding-left: 15px;
        padding-top: 15px;
        padding-bottom: 11px;
    }

    .input-label {
        left: 17px;
    }

    .input-element:focus+.input-label,
    .input-element.has-content+.input-label {
        top: 27%;
        font-size: 11px;
    }
}

@media screen and (max-width: 720px) {
    .input-element {
        font-size: 13px;
    }

    .input-label {
        left: 16px;
        font-size: 13px;
    }

    .input-element:focus+.input-label,
    .input-element.has-content+.input-label {
        top: 27%;
        font-size: 10px;
    }
}

@media screen and (max-width: 520px) {
    .input-element {
        font-size: 11px;
        border-radius: 5px;
        padding-left: 10px;
        padding-top: 10px;
        padding-bottom: 7px;
    }

    .input-label {
        font-size: 11px;
        left: 10px;
        top: 52%;
    }

    .input-element:focus+.input-label,
    .input-element.has-content+.input-label {
        top: 26%;
        font-size: 8px;
        left: 11px;
    }

    .save-btn {
        font-size: 0.75em;
        padding: 7px 17px;
    }
}

@media screen and (max-width: 420px) {
    .change-opt {
        display: flex;
        flex-direction: column;
        row-gap: 5px;
        align-items: center;
    }

    .input {
        width: 100%;
    }

    .input-split {
        width: 100%;
        column-gap: 4.5px;
    }

    .save-btn {
        font-size: 0.65em;
        padding: 5px 15px;
    }
}

@media screen and (max-width : 360px) {
    .input-element {
        font-size: 10px;
        border-radius: 5px;
        padding-left: 8px;
        padding-top: 8px;
        padding-bottom: 5px;
    }

    .input-label {
        font-size: 10px;
        left: 8px;
    }

    .input-element:focus+.input-label,
    .input-element.has-content+.input-label {
        top: 30%;
        font-size: 7px;
        left: 9px;
    }

    .save-btn {
        font-size: 0.55em;
        padding: 4px 13px;
    }
}