* {
    box-sizing: border-box;
    margin: 0;
}

.register-container {
    display: flex;
    flex-direction: row;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.697);
    border-radius: 10px;
    width: 55%;
    margin: auto;
    margin-top: 50px;
}

.right {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 170px;
    padding: 50px 30px;
    border-radius: 10px;
    background-image: linear-gradient(135deg, #a4a6a8, #66676a, #191919);
}

.right-head {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.register-head {
    font-size: 30px;
    font-weight: 600;
    color: rgb(249, 251, 251);
}

.welcome-text {
    color: rgb(223, 234, 234);
    line-height: 1.2;
    letter-spacing: 0;
    margin-top: 5px;
}

.left {
    width: 55%;
    padding: 60px 40px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.design-img {
    width: 200px;
    margin: auto;
}

.auth-form {
    display: flex;
    flex-direction: column;
}

.btn {
    margin-top: 40px;
    padding: 10px 0px;
    background-color: rgb(247, 101, 52);
    color: rgb(255, 255, 255);
    border: none;
    outline: none;
    font-weight: 600;
    font-size: 15px;
    width: 100%;
}

.btn:hover {
    cursor: pointer;
}

.btn:active {
    background-color: rgb(251, 151, 151);
}

.anLink {
    margin: 0px auto;
    margin-top: 10px;
    font-weight: 500;
    font-size: 16.5px;
    color: rgb(69, 69, 169);
    text-decoration: none;
}

.warn {
    font-size: 13px;
    color: red;
    padding-left: 5px;
}

.warning{
    color: rgb(224, 250, 26);
    background-color: rgba(238, 35, 35, 0.796);
    padding: 10px 15px;
    text-align: center;
    align-items: center;
    border: none;
    border-radius: 10px;
    margin-bottom: 5px;
}

.selectOptBtn{
    width: 100% !important;
    padding: 12px 5px !important;
}

.selected {
    width: 100%;
    text-wrap: nowrap;
    overflow: scroll;
    scrollbar-width: none;
}

@media screen and (max-width: 1400px) {
    .register-container {
        width: 60%;
    }

    .right {
        width: 50%;
    }

    .input-split{
        flex-direction: column !important;
    }
}

@media screen and (max-width: 1100px) {
    .register-container {
        width: 75%;
    }
}

@media screen and (max-width: 860px) {
    .register-container {
        width: 80%;
    }

    .left {
        width: 50%;
        padding: 50px 28px;
    }
}

@media screen and (max-width: 720px) {
    .register-container {
        width: 83%;
    }

    .right {
        row-gap: 150px;
        padding: 40px 25px;
    }

    .left {
        width: 50%;
        padding: 30px 23px;
    }

    .design-img {
        width: 150px;
    }

    .anLink {
        margin-top: 7px;
        font-size: 14px;
    }

    .register-head {
        font-size: 27px;
    }

    .welcome-text {
        font-size: 15px;
    }

    .btn {
        padding: 7px 0px;
        margin-top: 35px;
        font-size: 13px;
    }

    .warn {
        font-size: 12px;
    }

    .selectOptBtn {
        font-size: 14px !important;
    }
}

@media screen and (max-width: 600px) {
    .register-container {
        width: 95%;
        box-shadow: 1px 1px 3px #7c6f6f;
    }
}

@media screen and (max-width: 500px) {
    .register-container {
        width: 97%;
    }

    .anLink{
        font-size: 12px;
        margin-top: 5px;
    }

    .design-img {
        width: 100px;
    }

    .left {
        padding: 22px 17px;
    }

    .right {
        row-gap: 100px;
        padding: 30px 22px;
    }

    .register-head {
        font-size: 24px;
    }

    .welcome-text {
        font-size: 12px;
    }

    .warn {
        font-size: 11px;
    }
    
    .warning {
        font-size: 13px;
        padding: 8px 12px;
    }

    .register-container{
        flex-direction: column-reverse;
    }
    .left, .right{
        width: 100%;
    }
    .design-img{
        display: none;
    }
    .input-split{
        flex-direction: row !important;
    }
}

@media screen and (max-width: 450px) {
    .btn {
        padding: 5px 0px;
        margin-top: 25px;
        font-size: 10px;
    }

    .anLink {
        font-size: 10.5px;
    }

    .warn {
        font-size: 9px;
    }

    .warning {
        font-size: 11px;
    }

    .selectOptBtn {
        font-size: 12px !important;
        padding: 4px 4px 2px 4px !important;
    }
}

@media screen and (max-width: 370px) {
    .register-container {
        width: 98.5%;
    }

    .register-head {
        row-gap: 3px;
    }

    .design-img {
        width: 75px;
    }

    .right {
        row-gap: 85px;
        padding: 26px 18px;
    }

    .register-head {
        font-size: 18.3px;
    }

    .welcome-text {
        font-size: 9.5px;
    }

    .left {
        padding: 18px 12px;
    }

    .anLink {
        font-size: 7.5px;
    }

    .btn{
        margin-top: 20px;
    }

    .selectOptBtn {
        font-size: 12px !important;
    }

    .warn {
        font-size: 7px;
        padding-left: 3px;
    }
    
    .warning {
        font-size: 9px;
        padding: 5px 9px;
        border-radius: 5px;
        margin-bottom: 3px;
    }
}