* {
    box-sizing: border-box;
    margin: 0;
}

.register-container {
    display: flex;
    flex-direction: row;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.697);
    border-radius: 10px;
    width: 55%;
    margin: auto;
    margin-top: 50px;
}

.right {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 170px;
    padding: 50px 30px;
    border-radius: 10px;
    background-image: linear-gradient(135deg, #a4a6a8, #66676a, #191919);
}

.right-head {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.register-head {
    font-size: 30px;
    font-weight: 600;
    color: rgb(249, 251, 251);
}

.welcome-text {
    color: rgb(223, 234, 234);
    line-height: 1.2;
    letter-spacing: 0;
    margin-top: 5px;
}

.left {
    width: 55%;
    padding: 60px 40px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.design-img {
    width: 200px;
    margin: auto;
}

.auth-form {
    display: flex;
    flex-direction: column;
}

.input {
    position: relative;
    margin-bottom: 0.1rem;
    /* Adjust as needed */
}

.input-split {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    padding: 0;
}

.input-element {
    border: none;
    outline: none;
    border-bottom: 1.2px solid rgb(170, 170, 170);
    font-family: 'Roboto', 'Open Sans', 'Helvetica', sans-serif;
    color: rgb(36, 36, 36);
    margin-top: 25px;
    font-size: 16px;
    /* Adjust as needed */
    padding: 5px;
    width: 100%;
}

.input-label {
    cursor: text;
    position: absolute;
    left: 5px;
    top: 60%;
    transform: translateY(-50%);
    color: #999;
    font-size: 16px;
    transition: top 0.3s ease, font-size 0.3s ease, color 0.3s ease;
    pointer-events: none;
}

.input-element:focus+.input-label,
.input-element.has-content+.input-label  {
    top: 35%;
    font-size: 13.5px;
    color: #555;
}

.btn {
    margin-top: 40px;
    padding: 10px 0px;
    background-color: rgb(247, 101, 52);
    color: rgb(255, 255, 255);
    border: none;
    outline: none;
    font-weight: 600;
    font-size: 15px;
}

.btn:hover {
    cursor: pointer;
}

.btn:active {
    background-color: rgb(251, 151, 151);
}

.link {
    margin: 0px auto;
    font-weight: 500;
    font-size: 16.5px;
    color: rgb(69, 69, 169);
    text-decoration: none;
}

.warn {
    font-size: 13px;
    color: red;
    padding-left: 5px;
}

.warning{
    color: rgb(224, 250, 26);
    background-color: rgba(238, 35, 35, 0.796);
    padding: 10px 15px;
    text-align: center;
    align-items: center;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 5px solid black;margin-bottom: 5px;
}