.content {
    position: relative;
    height: max-content;
    min-height: 100%;
    width: 100vw;
    display: grid;
    grid-template-columns: 60%;
    justify-content: center;
    row-gap: 30px;
    padding-top: 30px;
    position: relative;
}

.msg {
    display: block;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%) scale(0);
    transform-origin: center;
    width: max-content;
    max-width: 50%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0.4px 0.7px 2px rgba(0, 0, 0, 0.73);
    background-color: #4ca052;
    color: rgb(255, 252, 252);
    transition: transform 0.15s ease-in;
}

#repairForm{
    padding-bottom: 40px;
    border-bottom: 1.5px solid grey;
}

.repair-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.product-details, .customer-details, .submit-btn-box  {
    width: 50%;
    border: 1px solid black;
    border-radius: 15px;
    padding: 20px 30px;
}

.submit-btn-box {
    width: 100%;
    margin-top: 20px;
    margin-left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.product-details {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 45%;
}

.customer-details {
    width: 45%;
}

.que {
    font-size: 16px;
    font-weight: 600;
    color: #3b3939;
    margin-top: 10px;
}


.add-option {
    width: 13%;
    aspect-ratio: 4/5;
    border-radius: 10px;
    border: 0.3px solid rgb(112, 167, 152);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 120px;
    font-weight: 600;
    color: rgb(130, 184, 184);
}

.add-option:hover {
    cursor: pointer;
}

.add-option:active {
    color: rgb(71, 100, 100);
    background-color: rgb(187, 218, 210);
}

.bought-from-who, .charge-warning {
    display: flex;
    align-items: center;
}

.charge-warning {
    width: 100%;
    justify-content: center;
}

input[type="radio"], input[type="checkbox"] {
    width: 14px;
    height: 14px;
}

#model-number,
#brand-Name {
    border: none;
    outline: none;
    border-bottom: 1.2px solid rgb(170, 170, 170);
    font-family: 'Roboto', 'Open Sans', 'Helvetica', sans-serif;
    color: rgb(36, 36, 36);
    font-size: 16px;
    /* Adjust as needed */
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 0;
    width: 100%;
}

.input {
    position: relative;
    width: 100%;
    /* Adjust as needed */
}

.input-split {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    padding: 0;
    width: 100%;
}

.input-element {
    border: none;
    outline: none;
    border-radius: 15px;
    background-color: rgb(232, 239, 237);
    font-family: 'Roboto', 'Open Sans', 'Helvetica', sans-serif;
    color: rgb(26, 25, 25);
    margin-top: 25px;
    font-size: 15px;
    font-weight: 600;
    /* Adjust as needed */
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 13px;
    width: 100%;
}

.input-label {
    cursor: text;
    position: absolute;
    left: 20px;
    top: 65%;
    transform: translateY(-50%);
    color: #363030;
    font-size: 15px;
    transition: top 0.3s ease, font-size 0.3s ease, color 0.3s ease;
    pointer-events: none;
}

.input-element:focus+.input-label,
.input-element.has-content+.input-label {
    top: 48%;
    font-size: 11.5px;
    color: #767474;
}


.selectOptBtn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    position: relative;
    border: none;
    outline: none;
    border-radius: 15px;
    background-color: rgb(232, 239, 237);
    font-family: 'Roboto', 'Open Sans', 'Helvetica', sans-serif;
    color: rgb(26, 25, 25);
    margin-top: 25px;
    font-size: 16px;
    /* Adjust as needed */
    padding-left: 20px;
    padding-top: 16.5px;
    padding-right: 10px;
    padding-bottom: 16.5px;
}

.opt {
    text-decoration: none;
    border-top: 1px solid rgb(69, 69, 69);
    padding: 10px 20px;
    color: rgb(39, 39, 39);
    width: 100%;
    text-align: left;
}

.opt:hover {
    background-color: rgb(39, 245, 245);
    cursor: pointer;
}

.opt:active {
    background-color: rgb(39, 226, 226);
    color: black;
}

.selectOptContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(69, 69, 69, 0.813);
    top: 105%;
    left: 0;
    overflow: hidden;
    transition: transform 0.2s ease-in;
    transform-origin: top left;
    z-index: 10;
    background-color: rgb(247, 253, 252);
    width: 100%;
    max-height: 200px;
    overflow-y: scroll;
    -webkit-scrollbar: none;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    border-radius: 10px;
}

.addOption {
    transform: scaleY(0) !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.submit-btn {
    width: max-content;
    border-radius: 15px;
    color: white;
    font-size: 15px;
    font-weight: 600;
    font-family: sans-serif;
    padding: 10px 20px;
    margin-top: 15px;
    background-color: rgb(42, 42, 187);
    border: none;
    outline: none;
    cursor: pointer;
}

.submit-btn:active {
    background-color: rgb(118, 118, 199);
}


.confirm-background {
    position: fixed;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(52, 50, 50, 0.605);
}

.confirm-container {
    display: flex;
    flex-direction: column;
}

.confirm-head-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 7px 10px;
    background-color: rgb(162, 190, 185);
    box-shadow: inset 0px -2px 3px solid rgb(43, 43, 43);
}

.confirm-heading {
    font-size: 17px;
    font-weight: 600;
}

.confirm-head-box>ion-icon {
    font-size: 19px;
    cursor: pointer;
}

.confirm-bottom-box {
    padding: 40px 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
    background-color: white;
}

.confirm-statement {
    font-size: 16px;
}

.yes-no-btn {
    display: flex;
    justify-content: space-between;
}

.yes-btn,
.no-btn {
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    border: none;
    outline: none;
    width: 43%;
    cursor: pointer;
}

.yes-btn {
    background-color: rgb(62, 202, 62);
}

.no-btn {
    background-color: rgb(236, 27, 27);
}

.yes-btn:hover {
    background-color: rgb(175, 184, 184);
}

.no-btn:hover {
    background-color: rgb(175, 184, 184);
}

/* Disable body scroll */
.no-scroll {
    height: 100vh;
    overflow-y: hidden !important;
}

.booking-container {
    width: 100%;
    overflow: hidden;
    padding: 20px;
    border: 0.4px solid blue;
    border-radius: 10px;
    background-color: #7ffff9bf;
    font-size: 17px;
    line-height: 1.2;
    position: relative;
}

.booking-container > p {
    color: #252f2f;
}

.booking-container.reviewed{
    opacity: 0.75;
}

.view-details {
    color: blue !important;
    font-size: 16px;
    font-weight: 600;
    font-family: sans-serif;
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
}

.view-details:hover{
    text-decoration: underline;
}

.hidden {
    display: none;
}

.add-request-heading {
    padding-top: 10px ;
    border-top: 1.5px solid grey;
}
.add-request-heading > h2 {
    width: 100%;
    background-color: orange;
    padding: 10px;
    border-radius: 5px;
}

.head {
    font-weight: 600;
    font-family: sans-serif;
    color: black;
}

.active-status {
    font-weight: 600;
    color: blue;
    font-family: sans-serif;
}

.deactive-status {
    font-weight: 600;
    color: rgb(19, 124, 30);
    font-family: sans-serif;
}

.review-btn {
    position: absolute;
    right: 10px;
    bottom: 10px;
    border: none;
    outline: none;
    font-size: 14px;
    font-weight: 600;
    color: white;
    padding: 10px 20px;
    width: max-content;
    background-color: #05d402;
    border-radius: 10px;
    cursor: pointer;
}

@media screen and (max-width: 1500px) {
    .product-details,.customer-details {
        width: 48%;
    }
}

@media screen and (max-width: 1400px) {
    .content {
        grid-template-columns: 70%;
    }
}

@media screen and (max-width: 1200px) {
    .product-details,.customer-details {
        width: 49.5%;
    }

    .content {
        grid-template-columns: 75%;
    }
}

@media screen and (max-width: 1100px) {
    .content {
        grid-template-columns: 80%;
    }
}

@media screen and (max-width: 1000px) {
    .content {
        grid-template-columns: 90%;
    }
}

@media screen and (max-width: 900px) {
    .content {
        grid-template-columns: 95%;
    }
}

@media screen and (max-width: 860px) {
    .repair-container {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .product-details,.customer-details {
        width: 60%;
    }   

    input[type="checkbox"] {
        width: 16px;
        height: 16px;
    }

    .charge-warning {
        align-items: center;
        column-gap: 5px;
        text-align: left;
    }
}

@media screen and (max-width: 750px) {
    .product-details,.customer-details {
        width: 70%;
    }

    .booking-container {
        padding: 17px;
        font-size: 15px;
    }
}

@media screen and (max-width: 650px) {
    .product-details,.customer-details {
        width: 80%;
    }
}

@media screen and (max-width: 550px) {
    .product-details,.customer-details {
        width: 90%;
    }

    .booking-container {
        padding: 15px;
        font-size: 13.5px;
    }

    .view-details {
        font-size: 14px;
    }

    .review-btn {
        font-size: 13px;
        padding: 7px 15px;
        border-radius: 8px;
    }
}

@media screen and (max-width: 470px) {
    .selectOptBtn {
        font-size: 12px;
        margin-top: 10px;
        border-radius: 5px;
        padding-left: 15px;
        padding-top: 13px;
        padding-right: 10px;
        padding-bottom: 12px;
    }

    .selectOptContainer {
        border-radius: 5px;
    }

    .input-element {
        font-size: 12px;
        margin-top: 10px;
        border-radius: 5px;
        padding-left: 10px;
        padding-top: 12px;
        padding-right: 7px;
        padding-bottom: 10px;
    }

    .input-label {
        top: 58%;
        left: 10px;
        font-size: 12px;
    }

    .input-element:focus+.input-label,
    .input-element.has-content+.input-label {
        top: 39%;
        left: 11.5px;
        font-size: 9.5px;
    }

    #model-number, #brand-Name {
        font-size: 12px;
    }

    .que {
        font-size: 13px;
        margin-top: 5px;
    }

    .bought-from-who, .charge-warning {
        font-size: 12px;
        align-items: start;
    }

    input[type="radio"], input[type="checkbox"] {
        width: 12px;
        height: 12px;
    }

    .product-details{
        row-gap: 5px;
    }

    h2 {
        font-size: 1.15em;
    }

    .add-request-heading > h2 {
        padding: 7px;
    }

    .product-details, .customer-details, .submit-btn-box {
        width: 100%;
        border-radius: 10px;
        padding: 10px 25px;
    }

    .submit-btn {
        border-radius: 7px;
        font-size: 12px;
        padding: 7px 15px;
        margin-top: 10px;
    }

    .booking-container {
        padding: 12px;
        border: 0.3px solid blue;
        font-size: 14px;
        line-height: 1.1;
    }

    .view-details {
        font-size: 13px;
        right: 10px;
        top: 6px;
    }

    .review-btn {
        font-size: 11.5px;
        padding: 5px 12px;
        border-radius: 5px;
        right: 10px;
        bottom: 6px;
    }

    .content {
        row-gap: 15px;
    }
}

@media screen and (max-width: 370px) {
    .booking-container {
        padding: 9px;
        font-size: 12px;
        line-height: 1;
        border-radius: 5px;
    }

    .view-details {
        font-size: 11px;
        right: 7px;
        top: 6px;
    }

    .review-btn {
        font-size: 9.5px;
        padding: 4px 10px;
        border-radius: 5px;
        right: 7px;
        bottom: 6px;
    }

    h2 {
        font-size: 1.02em;
    }

    .add-request-heading > h2 {
        padding: 5px;
    }

    .product-details, .customer-details, .submit-btn-box {
        border-radius: 5px;
        padding: 8px 15px;
    }
}