#resutNotFound{
    width: 100%;
    font-size: 20px;
    margin: 30px 0px;
    text-align: center;
}
.hideDiv{
    display: none !important;
}
.search-statement {
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
    column-gap: 8px;
}
.main-content{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 73vh;
    border-top: 2px solid black;
}
.filter-box{
    border-right: 2px solid black;
    height: 100%;
}
.filter-sign-small{
    padding: 5px 20px ;
    display: none;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.filter-sign-small ion-icon{
    font-size: 20px;
    vertical-align: middle;
}
.filter-sign ion-icon{
    font-size: 20px;
}
.filter-sign label {
    font-size: 20px;
}
.filter-box-background {
    display: none;
}
.filter-box>div{
    padding: 10px 40px 10px 20px;
    margin: 10px 0px;
    line-height: 23px;
    border-bottom: 2px dashed black;
}
input[type="checkbox"]{
    width: 16px;
    height: 16px;
    margin-right: 10px;
}
.search-output-area{
    padding: 0px 20px;
    width: 80%;
    height: 100%;
    overflow: scroll;
}
.search-item{
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    width: 100%;
    height: 13vw;
    background-color: rgba(233, 244, 244, 0.509);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.606);
}
.search-item:hover{
    cursor: pointer;
}
.search-image{
    width: 18%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(223, 250, 250);
}
.images{
    max-width: 100%;
    max-height: 100%;
}
.search-content{
    width: 82%;
    padding: 10px 20px;
}
.images.hide{
    display: none;
}
.heading{
    font-size: 25px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}
.price{
    margin-bottom: 15px;
}
.price>sup{
    font-size: 18px;
}
.price>span{
    font-size: 25px;
}
.price>label>span{
    text-decoration: line-through;
}
.rating{
    margin-top: 5px;
}
.rating ion-icon{
    color: rgb(33, 200, 24);
}
.search-content p ion-icon{
    font-size: 20px;
    vertical-align: bottom;
}
.points{
    margin-top: 2px;
}
label[for="keyword"]{
    display: none;
}
.emptyCart{
    width: 100%;
    text-align: center;
    margin-top: 20px;
}
.remove-btn{
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.remove-btn button{
    display: block;
    background-color: blueviolet;
    color: rgb(249, 245, 16);
    font-size: .95em;
    font-weight: 600;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    margin: 0px auto;
}
.remove-btn button:hover{
    cursor: pointer;
}

@media screen and (max-width: 1850px) {
    .heading {
        font-size: 22px;
    }
    .search-content p ion-icon {
        font-size: 17px;
    }
    .rating {
        margin-top: 2px;
    }
    .points > span{
        font-size: 15px;
    }
    .price {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 1700px) {
    .search-item{
        height: 14vw;
    }
}

@media screen and (max-width: 1530px) {
    .search-item{
        height: 15vw;
    }
}

@media screen and (max-width: 1420px) {
    .heading {
        font-size: 20px;
    }
    .search-content p ion-icon {
        font-size: 15px;
        vertical-align: baseline;
    }
    .points > span{
        font-size: 13px;
    }
    .price {
        margin-bottom: 5px;
    }
    .price > sup {
        font-size: 15px;
    }
    .price > span {
        font-size: 22px;
    }
    .price > label {
        font-size: 15px;
    }
}

@media screen and (max-width: 1310px) {
    .search-item{
        height: 16vw;
    }
}

@media screen and (max-width: 1215px) {
    .heading {
        font-size: 18px;
    }
    .search-item{
        height: 17vw;
    }
    .search-content p ion-icon {
        font-size: 15px;
        vertical-align: bottom;
    }
    .points > span{
        font-size: 13px;
    }
    .price {
        margin-bottom: 5px;
    }
    .price > sup {
        font-size: 12px;
    }
    .price > span {
        font-size: 20px;
    }
    .price > label {
        font-size: 12px;
    }
}

@media screen and (max-width: 1130px) {
    .search-item{
        height: 18vw;
    }
    .filter-box>div{
        padding: 10px 6px 10px 10px;
    }
    .filter-box label{
        font-size: 15px;
    }
    input[type="checkbox"]{
        width: 14px;
        height: 14px;
        margin-right: 5px;
    }
    .search-image {
        width: 25%;
    }
    .search-content {
        width: 75%;
    }
}

@media screen and (max-width: 1060px) {
    .search-item{
        height: 20vw;
    }
}

@media screen and (max-width: 940px) {
    .search-item{
        height: 22vw;
    }
}

@media screen and (max-width: 860px) {
    .search-item{
        height: 24vw;
    }
    .filter-sign-small{
        display: block;
    }
    .filter-sign{
        display: none;
    }
    .main-content{
        flex-direction: column;
        position: relative;
    }
    .search-output-area{
        width: 100%;
        padding-top: 0;
    }
    .filter-box{
        overflow: hidden;
        width: 0;
        transform: translateX(-100%);
        transition: 0.5s;
        position: absolute;
        padding-top: 0;
        margin-top: 33px;
        height: 100%;
        background-color: white;
        overflow: scroll;
        z-index: 10;
    }
    .filter-box.active{
        width: fit-content;
        transform: translateX(0);
    }
    .filter-box>div{
        padding: 10px 30px 10px 20px;
    }
    .filter-box-background {
        display: block;
        height: 100%;
        position: absolute;
        margin-top: 33px;
        z-index: 8;
        width: 0;
        transform: translateX(-100%);
        transition: 0.5s;
        background-color: rgba(0, 0, 0, 0.479);
        overflow: hidden;
    }
    .filter-box-background.active{
        width: 100%;
        transform: translateX(0);
    }
}

@media screen and (max-width: 800px) {
    .heading {
        font-size: 16px;
    }
    .search-content p ion-icon {
        font-size: 13px;
        vertical-align: middle;
    }
    .rating{
        margin-top: 0;
    }
    .points > span{
        font-size: 11px;
    }
    .price {
        margin-bottom: 0px;
    }
    .price > sup {
        font-size: 10px;
    }
    .price > span {
        font-size: 18px;
    }
    .price > label {
        font-size: 10px;
    }
}

@media screen and (max-width: 740px) {
    .search-item{
        height: 26vw;
    }
    .search-content{
        padding: 5px 10px;
    }
}

@media screen and (max-width: 665px) {
    .search-item{
        height: 28vw;
    }
}

@media screen and (max-width: 620px) {
    .search-item{
        height: 30vw;
    }
    .search-image{
        width: 30%;
    }
    .search-content{
        width: 70%;
    }
}

@media screen and (max-width: 580px) {
    .search-output-area{
        padding: 0px 10px 20px 10px;
    }
    .search-item{
        height: 32vw;
        margin-top: 10px;
    }
}

@media screen and (max-width: 515px) {
    .search-item{
        height: 36vw;
    }
    .heading{
        font-size: 14px;
        -webkit-line-clamp: 3;
        line-clamp: 3;
    }
    .points{
        margin-top: -1px;
    }
    .search-image{
        width: 35%;
    }
    .search-content{
        width: 65%;
    }
}

@media screen and (max-width: 480px) {
    .search-item{
        height: 40vw;
    }
}

@media screen and (max-width: 440px) {
    .search-item{
        height: 45vw;
    }
}

@media screen and (max-width: 390px) {
    .search-item{
        height: 55vw;
    }
    .search-image{
        width: 45%;
    }
    .search-content{
        width: 55%;
    }
}

@media screen and (max-width: 350px) {
    .search-item{
        height: 65vw;
    }
    .search-image{
        width: 50%;
    }
    .search-content{
        width: 50%;
    }
}

@media screen and (min-height: 615px) {
    .main-content{
        height: 74vh;
    }
}

@media screen and (min-height: 660px) {
    .main-content{
        height: 76vh;
    }
}

@media screen and (min-height: 718px) {
    .main-content{
        height: 78vh;
    }
}

@media screen and (min-height: 783px) {
    .main-content{
        height: 80vh;
    }
}